{% load static humanize catalogue_tags %}
{% get_static_prefix as STATIC_PREFIX %}


<div class="ps-product ps-product--inner">
    <div class="ps-product__thumbnail">
        <a href="{{ instance.get_absolute_url }}">
            <img width="150" height="150" src="{{ instance.get_image_url }}" alt="{{ instance.name|slugify }}">                 
        </a>
    </div>

    <div class="ps-product__container">
        <a class="ps-product__vendor" href="{{ instance.user.get_absolute_url }}">
        {{ instance.user.store|upper }}</a>

        <div class="ps-product__content">
            <a class="ps-product__title" href="{{ instance.get_absolute_url }}">
                {{ instance.name|truncatewords:"10"|safe }}
            </a>
            {% if instance.countreview %}
                <div class="ps-product__rating">
                    <select class="ps-rating" data-read-only="true">
                        {% if instance.countreview <= 1 %}
                            <option value="1">1</option>
                            <option value="2">1</option>
                            <option value="2">1</option>
                            <option value="2">1</option>
                            <option value="2">1</option>
                        {% elif instance.countreview <= 2 %}
                            <option value="1">1</option>
                            <option value="1">1</option>
                            <option value="2">1</option>
                            <option value="2">1</option>
                            <option value="2">1</option>
                        {% elif instance.countreview <= 3 %}
                            <option value="1">1</option>
                            <option value="1">1</option>
                            <option value="1">1</option>
                            <option value="2">1</option>
                            <option value="2">1</option>
                        {% elif instance.countreview <= 4 %}
                            <option value="1">1</option>
                            <option value="1">1</option>
                            <option value="1">1</option>
                            <option value="1">1</option>
                            <option value="2">1</option>
                        {% elif instance.countreview == 5 %}
                            <option value="1">1</option>
                            <option value="1">1</option>
                            <option value="1">1</option>
                            <option value="1">1</option>
                            <option value="1">1</option>
                        {% endif %}
                    </select>
                    <span>{{ instance.avaregereview }}</span>
                </div>
            {% endif %}
            <span class="ps-product__price font-weight-bold">{{ instance.price|intcomma }} Fr</span>
        </div>
    </div>
</div>
