{% load humanize %}

<div class="ps-product ps-product--wide">
    <div class="ps-product__thumbnail">
        <a href="{{ instance.get_absolute_url }}">
            <img src="{{ instance.get_image_url }}" alt="{{ instance.name }}">
        </a>
    </div>

    <div class="ps-product__container">
        <div class="ps-product__content">
            <a class="ps-product__title" href="{{ instance.get_absolute_url }}">
                {{ instance.name }}
            </a>

            <p class="ps-product__vendor">Vendu par: <a href="{{ instance.user.get_absolute_url }}" class="font-weight-bold">{{ instance.user.store }}</a></p>

            <ul class="ps-product__desc">
                {{ instance.description|truncatewords:'50' }}
            </ul>
        </div>

        <div class="ps-product__shopping">
            <p class="ps-product__price">{{ instance.price|intcomma|add:' Fr CFA' }}</p>
            <a class="ps-btn" href="#">Ajouter au panier</a>
        </div>
    </div>
</div>