{% load cache catalogue_tags %}

{% cache 60 product request.user.id %}
    <div xmlns:v="http://rdf.data-vocabulary.org/#" about="{{ instance.get_absolute_url }}" typeof="v:Product" class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
        <div class="ps-product">
            <div class="ps-product__thumbnail">
                <a href="{{ instance.get_absolute_url }}">
                    <img src="{{ instance.get_image_url }}" alt="{{ instance.name }}">
                </a>
            </div>

            <div class="ps-product__container text-center">
                {% if instance.user.store %}
                    <a class="ps-product__vendor" href="{{ instance.user.get_absolute_url }}">
                    {{ instance.user.store|upper }}</a>
                {% endif %}

                <div class="ps-product__content">
                    <a class="ps-product__title" href="{{ instance.get_absolute_url }}">
                        {{ instance.name|truncatewords:"10"|safe }}
                    </a>

                    <div class="ps-product__rating">
                        <span>{{ instance.countreview }} avis clients</span>
                    </div>

                    <p class="ps-product__price sale">{{ instance.price|currency }} {% if instance.old_price %}<del>{{ instance.old_price|currency }} </del>{% endif %}</p>
                </div>

                <div class="ps-product__content hover">
                    <a class="ps-product__title" href="{{ instance.get_absolute_url }}">
                        {{ instance.name|truncatewords:"10"|safe }}
                    </a>
                    <p class="ps-product__price sale">{{ instance.price|currency }} {% if instance.old_price %}<del>{{ instance.old_price|currency }} </del>{% endif %}</p>
                </div>
            </div>
        </div>
    </div>
{% endcache %}

