{% load cache humanize %}


{% cache 60 product request.user.id %}
    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6 ">
        <div class="ps-product">
            <div class="ps-product__thumbnail">
                <a href="{{ instance.get_absolute_url }}">
                    <img src="{{ instance.get_image_url }}" alt="{{ instance.name }}">
                </a>
            </div>

            <div class="ps-product__container">
                <a class="ps-product__vendor" href="{{ instance.user.get_absolute_url }}">
                {{ instance.user.store|upper }}</a>

                <div class="ps-product__content">
                    <a class="ps-product__title" href="{{ instance.get_absolute_url }}">
                        {{ instance.name|truncatewords:"10"|safe }}
                    </a>
                    <p class="ps-product__price">{{ instance.price|intcomma }} {% if instance.old_price %}<del>{{ instance.old_price }} </del>{% endif %}</p>
                </div>

                <div class="ps-product__content hover">
                    <a class="ps-product__title" href="{{ instance.get_absolute_url }}">
                        {{ instance.name|truncatewords:"10"|safe }}
                    </a>
                    <p class="ps-product__price">{{ instance.price|intcomma }} {% if instance.old_price %}<del>{{ instance.old_price }} </del>{% endif %}</p>
                </div>
            </div>
        </div>
    </div>
{% endcache %}

