{% extends "base.html" %}
{% load catalogue_tags %}
{% block css %}{% endblock css %}

{% block content %}
    {% include "includes/partials/_partials_breadcrumb.html" %}

    <section class="container">
        <div class="ps-page__container">
            <div class="ps-section--shopping ps-shopping-cart py-5">
                {% if cart_items %}

                    <h3>Panier ({% cart_items request %})</h3>

                    <div class="ps-section__content">
                        <div class="table-responsive">
                            <table summary="Votre panier d'achat" class="table ps-table--shopping-cart ps-table--responsive">
                                <thead>
                                    <tr>
                                        <th scope="col">Produit</th>
                                        <th scope="col">Prix</th>
                                        <th scope="col">Quantité</th>
                                        <th scope="col">Total</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for object in cart_items %}
                                        <tr>
                                            <td data-label="Produit">
                                                <div class="ps-product--cart">
                                                    <div class="ps-product__thumbnail">
                                                        <a href="{{ object.get_absolute_url }}">
                                                            <img src="{{ object.product.get_image_url }}" alt="{{ object.product.name }}">
                                                        </a>
                                                    </div>
                                                    <div class="ps-product__content">
                                                        <a href="{{ object.get_absolute_url }}">
                                                            {{ object.name|safe }}
                                                        </a>
                                                        {% if object.product.user.store %}   
                                                            <p>Vendu par: <strong>
                                                                <a href="{{ object.product.user.get_absolute_url }}">
                                                                {{ object.product.user.store }}</a>
                                                                </strong>
                                                            </p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="price" data-label="Prix">
                                                {{ object.price }}
                                            </td>

                                            <td data-label="Quantité">
                                                <form action="." method="post">
                                                    {% csrf_token %}
                                                    <div class="form-group--number">
                                                        <input id="quantity" class="form-control" name="quantity" type="number" value="{{ object.quantity }}">
                                                        <input type='hidden' name='item_id' value='{{ object.id }}'>
                                                    </div>

                                                    <button class="ps-btn font-weight-bold" type="submit" name="submit" value="update" required>
                                                        <i class="icon-sync"></i>
                                                    </button>
                                                </form>
                                            </td>

                                            <td data-label="Sous-total">{{ object.total }}</td>

                                            <td data-label="Supprimer">
                                                <form method="post" action=".">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="item_id" value="{{ object.id }}">
                                                    <button class="ps-btn" type="submit" name="submit" value="remove">
                                                        <i class="icon-cross"></i>
                                                    </button>
                                                </form> 
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    <tr class="bg-light">
                                        <td class="font-weight-bold" colspan="4"><h3>Total</h3></td>
                                        <td data-label='Sous-total'>
                                        <h3><span class="font-weight-bold" style="color:#f30">
                                        {{ cart_subtotal }}</span></h3></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="ps-section__cart-actions">
                            <!-- poursuivre ces commandes : liste des produits -->
                            <a href="{% url "catalogue:product_list" %}" class="ps-btn ps-btn--outline text-uppercase">
                                Poursuivre vos achats <i class="icon-arrow-right"></i>
                            </a>

                            <!-- bouton de validation -->
                            <form method="POST" action=".">
                                {% csrf_token %}
                                <button class="ps-btn ps-btn--fullwidth text-uppercase" type="submit" name="submit" value="checkout">
                                passer à la commande</button>
                            </form>
                        </div>
                    </div>

                    <!--  <div class="ps-section__footer">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                                <figure>
                                    <figcaption>Remise de coupon</figcaption>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Entrer le code promo">
                                    </div>
                                    
                                    <div class="form-group">
                                        <button class="ps-btn ps-btn--outline">Appliquer le coupon</button>
                                    </div>
                                </figure>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                                <figure>
                                    <figcaption>Calculer Frais de livraison</figcaption>
                                    <div class="form-group">
                                        <select class="ps-select">
                                            <option value="1">Burkina</option>
                                            <option value="2">Mali</option>
                                            <option value="3">Ghana</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Ville">
                                    </div>

                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Quartier">
                                    </div>

                                    <div class="form-group">
                                        <button class="ps-btn ps-btn--outline">Mettre à jour</button>
                                    </div>
                                </figure>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                                <div class="ps-block--shopping-total">
                                    <div class="ps-block__header">
                                        <p>Sous-total <span> {{ cart_subtotal }}</span></p>
                                    </div>
                                    
                                    <div class="ps-block__content">
                                        <ul class="ps-block__product">
                                            {% for object in cart_items %}
                                                <li>
                                                    <span class="ps-block__shop">Vendu par :
                                                        <strong>
                                                        {{ object.product.user.store }}</strong>
                                                    
                                                        <a href="{{ object.get_absolute_url }}">
                                                        {{ object.name|truncatewords:'4' }} × {{ object.quantity }}</a>
                                                    </span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <h3>Total <span>{{ cart_subtotal }}</span></h3>
                                    </div>
                                </div>

                                <form method="POST" action=".">
                                    {% csrf_token %}
                                    <button class="ps-btn ps-btn--fullwidth text-uppercase" type="submit" name="submit" value="checkout">
                                    passer à la commande</button>
                                </form>
                            </div>
                        </div>
                    </div>-->
                {% else %}
                    {% include "cart/empty_cart.html" %}
                {% endif %}
            </div>
        </div>

        <!-- afficher liste des articles recommandés
        {% if recommended_product and not cart_items %}
            {% product_list recommended_product 'Les clients ayant acheté cet article ont également acheté' %}
        {% endif %} -->
        {% if recently_viewed and not cart_items %}
            {% product_list recently_viewed 'Produits récemment vus' %}
        {% endif %}
    </section>
{% endblock content %}
