<!-- cart/empty_cart.html -->

<div class="ps-section__content mb-5">
    <div class="text-center py-2">
        <span class="d-flex justify-content-center">
            <img loading="lazy" class="img-fluid" height="160px" width="160px" srcset="{{ STATIC_PREFIX }}img/emptycart.svg" src="{{ STATIC_PREFIX }}img/emptycart.svg" alt="empty-cart-{{ page_title }}">
        </span>

        <h3 class="font-weight-bold">Votre panier est vide !</h3>

        <p class="py-4 h3">Explorez nos catégories et découvrez nos meilleures offres !</p>

        <a href="/" class="ps-btn">
            <span class="text-uppercase font-weight-bold py-2">
                commencer vos achats <i class="icon-arrow-right"></i>
            </span>
        </a>
    </div>
</div>