<!-- accounts/email_confirm.html templates -->

{% extends "base.html" %}
{% load account crispy_forms_tags %}
{% block title %}Confirmer l'adresse e-mail{% endblock title %}

{% block content %}
    <div class="ps-page--my-account">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="/">Accueil</a></li>
                    <li>Confirmer l'adresse e-mail</li>
                </ul>
            </div>
        </div>

        <div class="ps-my-account">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-sm-10">
                        <div class="p-5">
                            <div class="col bg-white p-5">
                                <h3 class="font-weight-bold pb-3">Confirmer l'adresse e-mail</h3>

                                {% if confirmation %}
                                    {% user_display confirmation.email_address.user as user_display %}
                                    <p class="h2 pb-4">
                                        {% with confirmation.email_address.email as email %}
                                            S'il vous plaît confirmer que <a href="mailto:{{ email }}" class="font-weight-bold text-primary">{{ email }}</a>
                                            est une adresse email pour l' utilisateur {{ user_display }}.
                                        {% endwith %}
                                    </p>

                                    <form method="POST" action="{% url 'account_confirm_email' confirmation.key %}">
                                        {% csrf_token %}
                                        <button class="ps-btn btn-block text-uppercase border-0" type="submit">confirmer</button>
                                    </form>

                                {% else %}
                                    {% url 'account_email' as email_url %}
                                    <p>
                                        Ce lien de confirmation par e-mail a expiré ou n'est pas valide. S'il vous plaît <a href="{{ email_url }}"> demander un nouvel lien de confirmation</a>.
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </div>
{% endblock content %}
