<!-- accounts/login.html templates -->

{% extends "base.html" %}
{% load static crispy_forms_tags %}{% get_static_prefix as STATIC_PREFIX %}

{% block title %}Connexion{% endblock title %}

{% block content %}
    {% url "home" as home %}
    {% url 'customer_signup' as buyer_signup %}
    {% url 'account_signup' as seller_signup %}
    {% url 'account_reset_password' as reset_password %}

    <div class="ps-page--my-account">
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-7 col-sm-10">
                    <div class="pb-5 align-middle">
                        <div class="col bg-white p-5">
                            <h3 class="font-weight-bold text-center">Connexion</h3>

                            <p class="text-center font-weight-normal pb-4">
                                Veuillez saisir votre adresse email et mot de passe pour vous connecter.
                            </p>

                            {% crispy form %}

                            <!-- connexion url -->
                            <div class="text-center w-100 pt-3 pb-3">
                                <p>Vous êtes un nouvel utilisateur ? </p>
                                <span class="font-weight-bold">

                                    <a href="{{ seller_signup }}">
                                        <span><u>Créer un compte Vendeur</u></span>
                                    </a> &smid;

                                    <a href="{{ reset_password }}">
                                        <span><u>Mot de passe oublié ?</u></span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>
{% endblock content %}
