{% extends "base.html" %}
{% block title %}Modifier le mot de passe{% endblock title %}

{% block content %}

    {% url "auth_views:account_login" as login_url %}

    <div class="ps-page--my-account">
        <div class="ps-my-account">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-sm-10">
                        <div class="p-5">
                            <div class="col bg-white p-5">
                                <h3 class="font-weight-bold pb-2">Modifier le mot de passe</h3>
                                <p class="h2">
                                    Votre mot de passe a été modifié avec succes.
                                    <a href="{{ login_url }}" class="text-primary"><span><u>Connectez-vous.</u></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
