<!-- accounts/password_set.html templates -->

{% extends "base.html" %}
{% block title %}Définir le mot de passe{% endblock title %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="ps-page--my-account">
        <div class="ps-my-account">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-sm-10">
                        <div class="p-5">
                            <div class="col bg-white p-5">
                                <h3 class="font-weight-bold pb-5">Définir le mot de passe</h3>

                                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                                    {% csrf_token %}

                                    {{ form|crispy }}

                                    <input class="ps-btn btn-block text-uppercase border-0" type="submit" value="Définir le mot de passe">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </div>
{% endblock content %}
