<!-- accounts/password_reset_done.html templates -->

{% extends "base.html" %}
{% block title %}Réinitialisation du mot de passe{% endblock title %}
{% load account %}


{% block content %}
    <div class="ps-page--my-account">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="{% url 'home' %}">Accueil</a></li>
                    <li>Réinitialisation du mot de passe</li>
                </ul>
            </div>
        </div>

        <div class="ps-my-account">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-sm-10">
                        <div class="p-5">
                            <div class="col bg-white p-5">
                                <h3 class="font-weight-bold pb-3">Réinitialisation du mot de passe</h3>

                                {% if user.is_authenticated %}
                                    {% include "account/snippets/already_logged_in.html" %}
                                {% endif %}

                                <p class="h2">Nous vous avons envoyé un e-mail. Merci de nous contacter si vous ne le recevez pas d'ici quelques minutes.</p>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </div>
{% endblock content %}
