<!-- accounts/password_reset.html templates -->

{% extends "base.html" %}
{% load account crispy_forms_tags %}
{% block title %}Réinitialisation du mot de passe{% endblock title %}


{% block content %}
    <div class="ps-page--my-account">
        {% include "partials/breadcrumb.html" %}

        <div class="ps-my-account">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-sm-10">
                        <div class="p-5">
                            <div class="col bg-white p-5">
                                <h3 class="font-weight-bold pb-5">Réinitialisation du mot de passe</h3>

                                {% if user.is_authenticated %}
                                    {% include "account/snippets/already_logged_in.html" %}
                                {% endif %}


                                <p>Mot de passe oublié ? Indiquez votre adresse e-mail ci-dessous et nous vous enverrons un e-mail pour le réinitialiser.</p>

                                <form method="POST" action="{% url 'account_reset_password' %}">
                                    {% csrf_token %}
                                    {{ form|crispy }}

                                    <input class="ps-btn btn-block text-uppercase border-0" type="submit" value="Réinitialiser mon mot de passe">
                                </form>

                                <p class="text-center w-100 pt-2 pb-3">
                                    Merci de nous contacter si vous ne parvenez pas à réinitialiser votre mot de passe.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </div>
{% endblock content %}
