<!-- accounts/password_reset_from_key_done.html templates -->

{% extends "base.html" %}
{% block title %}Modifier le mot de passe{% endblock title %}

{% load account %}

{% block content %}
    <div class="ps-page--my-account">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="{% url 'home' %}">Accueil</a></li>
                    <li>Modifier le mot de passe</li>
                </ul>
            </div>
        </div>

        <div class="ps-my-account">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-sm-10">
                        <div class="p-5">
                            <div class="col bg-white p-5">
                                <h3 class="font-weight-bold pb-2">Modifier le mot de passe</h3>
                                <p class="h2">
                                    Votre mot de passe a été modifié avec succes.
                                    <a href="{% url 'account_login' %}" class="text-primary"><span><u>Connectez-vous.</u></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </div>
{% endblock content %}
