<!-- accounts/password_change.html templates -->

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Modifier le mot de passe{% endblock title %}

{% block content %}
    <div class="ps-page--my-account">
        {% include "includes/partials/_partials_breadcrumb.html" %}

        <div class="ps-my-account">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-sm-10">
                        <div class="p-5">
                            <div class="col bg-white p-5">
                                <h3 class="font-weight-bold pb-5">Modifier le mot de passe</h3>

                                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                                    {% csrf_token %}

                                    {{ form|crispy }}

                                    <button class="ps-btn btn-block text-uppercase border-0" type="submit" name="action">
                                    Modifier le mot de passe</button>

                                    <a href="{% url 'account_reset_password' %}">
                                        <span><u>Mot de passe oublié ?</u></span></a>
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </div>
{% endblock content %}
