{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

    {% url 'auth_views:account_reset_password' as request_password_reset %}

    <div class="ps-page--my-account">
        <div class="ps-my-account">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-sm-10">
                        <div class="p-5">
                            <div class="col bg-white p-5">
                                {% if user.is_authenticated %}
                                    {% include "account/snippets/already_logged_in.html" %}
                                {% else %}
                                    <h3 class="font-weight-bold pb-5">{{ page_title }}</h3>

                                    {% include "dashboard/seller/includes/_partials_message.html" %}

                                    <p>Mot de passe oublié ? Indiquez votre adresse e-mail ci-dessous et nous vous enverrons un e-mail pour le réinitialiser.</p>

                                   {% crispy form %}

                                    <p class="text-center w-100 pt-2 pb-3">
                                        Merci de nous contacter si vous ne parvenez pas à réinitialiser votre mot de passe.
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
