{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="ps-page--my-account">
        <div class="ps-my-account">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-sm-10">
                        <div class="p-5">
                            <div class="col bg-white p-5">
                                <h3 class="font-weight-bold pb-5">{{ page_title }}</h3>
                                {% crispy form %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
