<!-- accounts/signup_closed.html templates -->

{% extends "base.html" %}

{% block content %}
    <div class="ps-page--my-account">
        <div class="ps-my-account">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-sm-10">
                        <div class="p-5">
                            <div class="col bg-white p-5">
                                <h3 class="font-weight-bold pb-2">Inscription fermée</h3>

                                <p>Nous sommes désolés, mais l'inscription est actuellement fermée.</p>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </div>
{% endblock content %}
