{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Créer un compte{% endblock title %}

{% block content %}

    {% url "auth_views:account_login" as login_url %}
    {% url "delivery:delivery_register" as delivery_register %}

    <div class="ps-page--my-account">
        <div class="container">
            <div class="row py-5 mt-5 align-items-center justify-content-center">
                <div class="col-md-5 mb-5 mb-md-0">

                    <div class="mb-5">
                        <a class="btn btn-md btn-light px-3" href="/">
                            <i class="icon-arrow-left"></i> <span class="font-weight-bold text-uppercase">
                            retour</span>
                        </a>
                    </div>

                    <h3>Créer votre boutique</h3>
                    <img src="{{ STATIC_PREFIX }}img/signup_page.jpg" alt="{{ title }}"
                        class="img-fluid mb-3 d-none d-md-block" loading="lazy">

                    <div class="ps-page__header">
                        <p class="font-italic text-muted mb-0">
                            Inscrivez-vous et commencez à vendre dès aujourd'hui - créez votre propre compte vendeur.
                        </p>
                        <p class="font-italic text-muted">
                            <a class="font-weight-bold" href="/" class="text-muted">
                                <u>{{ title }}</u>
                            </a>
                        </p>
                    </div>
                </div>

                <div class="col-md-7">
                    {% crispy form %}

                    <div class="text-center w-100 pt-2 pb-3">
                        Vous avez déjà un compte ?
                        <a href="{{ login_url }}">
                            <span class="font-weight-bold"><u>Connectez-vous</u>
                        </a>
                    </div>

                    <hr>

                    <a href="{{ delivery_register }}" class="mt-4 ps-btn btn-block text-uppercase text-center border-0">
                        devenez distributeur agréé chez {{ title }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
