<!-- accounts/email_confirm.html templates -->

{% extends "base.html" %}
{% block title %}Vérifiez votre adresse e-mail{% endblock title %}
{% load account %}

{% block content %}
    <div class="ps-page--my-account">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="{% url 'home' %}">Accueil</a></li>
                    <li>Vérifiez votre adresse e-mail</li>
                </ul>
            </div>
        </div>

        <div class="ps-my-account">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-sm-10">
                        <div class="p-5">
                            <div class="col bg-white p-5">
                                <h3 class="font-weight-bold pb-5">Vérifiez votre adresse e-mail</h3>

                                <p>Nous vous avons envoyé un e-mail pour vérification. Suivez le lien fourni pour finaliser le processus d'inscription. Veuillez nous contacter si vous ne le recevez pas dans les quelques minutes.
                                <span class="font-weight-bold">
                                    <a href="{% url 'account_login' %}"><span><u>Connectz-vous</u></span></a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
        </div>
    </div>
{% endblock content %}
