[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
pre-commit = "*"
isort = "*"
black = "*"

[packages]
django = "==3.2.18"
gunicorn = "*"
django-mptt = "*"
whitenoise = {extras = ["brotli"], version = "*"}
django-redis = "*"
django-crispy-forms = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
Babel = "*"
pillow = "*"
argon2-cffi = "*"
django-3-jet = "*"
django-compressor = "*"
django-summernote = "*"
qrcode = "*"
django-imagekit = "*"
xhtml2pdf = "*"
reportlab = "==3.6.6"
pyzstd = "*"
django-dbbackup = "*"
django-crontab = "*"
requests = "*"
python-dotenv = "*"
psycopg2-binary = "*"
django-pwa = "*"
celery = {extras = ["redis"], version = "*"}

[requires]
python_version = "3.10"
