[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pycodestyle = "*"

[packages]
django = "*"
gunicorn = "*"
django-filter = "*"
django-mptt = "*"
django-countries = "*"
whitenoise = "*"
argon2-cffi = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2 = "*"
django-redis = "*"
django-crispy-forms = "*"
django-allauth = "*"
django-tagulous = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
babel = "*"
pillow = "*"
django-admin-thumbnails = "*"
mailchimp = "*"
mysqlclient = "*"

[requires]
python_version = "3.8"
