[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
django-mptt = "*"
django-countries = "*"
whitenoise = "*"
python-decouple = "*"
dj-database-url = "*"
django-redis = "*"
django-crispy-forms = "*"
django-allauth = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
Babel = "*"
pillow = "*"
django-admin-thumbnails = "*"
mailchimp = "*"
mysqlclient = "*"
xhtml2pdf = "*"
argon2-cffi = "*"

[requires]
python_version = "3.8"
