{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block others_javascript %}
    <script type='text/javascript'>
        $(document).ready(function() {
            "use strict";

            var contactForm = $('#contactForm');

            contactForm.on('submit', function(e){
                // prevent from normal form behaviour
                e.preventDefault();
                // serialize the form data
                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize(),

                    success : function(response){
                        //reset the form after successful submit
                        contactForm[0].reset();
                        alert('Votre message a été envoyé avec success !');
                        console.log("message envoyé avec success.")
                    },

                    error: function(response) {
                        alert(response.responseJSON.errors);
                        console.log(response.responseJSON.errors);
                    }
                });
                return false;
            });
        });
    </script> 
{% endblock others_javascript %}


{% block content %}
    <div class="ps-page--single" id="contact-us">
        {% include "includes/partials/_partials_breadcrumb.html" %}
        
        <div class="page-header text-center bg-light py-5">
            <div class="container">
                <div class="ps-section__header">
                    <h1>{{ page_title }}</h1>
                    <p style="color:#fcb941">{{ page_description }}</p>
                </div>
            </div><!-- End .container -->
        </div><!-- End .page-header -->

        <div class="page-content mt-5">
            <div class="container">
                <div class="ps-section__content">
                    <div class="row justify-content-center pb-5">
                        <div class="col-md-9 col-lg-7">
                            <div class="text-center">
                                <h2 class="title mb-1">Service client</h2>
                                <!-- End .title mb-2 -->

                                <p class="mb-3">Notre service client ne peut recevoir
                                    d'appels pour le moment mais reste toujours disponible
                                    pour répondre à vos demandes. Vous pouvez nous contacter
                                    en remplissant le formulaire en ligne sur cette page,
                                    et nous vous répondrons sous peu.
                                    <strong>08h00 à 17h00 du Lundi au vendredi,
                                    Samedi de 08h00 à 14h00.</strong>
                                </p>
                            </div><!-- End .text-center -->
                        </div><!-- End .col-md-9 col-lg-7 -->
                    </div><!-- End .row -->

                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="ps-block--contact-info">
                                <h4>Situation Géographique</h4>
                                <address>{{ address }}</address>
                            </div>
                        </div><!-- End .col-md-4 -->

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="ps-block--contact-info">
                                <h4>Nos contacts</h4>
                                <div><a href="mailto:{{ email_info }}">
                                    {{ email_info }}
                                </a></div>

                                <div>
                                    <a href="tel:{{ contact_one }}">{{ contact_one }}</a> /
                                    <a href="tel:{{ contact_two }}">{{ contact_two }}</a>
                                </div>
                            </div>
                        </div><!-- End .col-md-4 -->

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="ps-block--contact-info">
                                <h4>Retrouvez-nous sur</h4>
                                <div>{% include "includes/partials/_partials_social_link.html" %}</div>
                            </div>
                        </div><!-- End .col-md-4 -->
                    </div><!-- End .row -->
                </div>
            </div>
        </div>

        <hr class="mt-3 mb-5 mt-md-1">

        <!-- contact form -->
        <div class="ps-contact-form-container row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="text-center">
                    <h2 class="title mb-1">Vous avez besoin d'aide ?</h2>
                    <!-- End .title mb-2 -->

                    <p class="mb-3">Envoyez-nous votre requête via ce formulaire et
                    nous vous répondrons sous deux (2) jours ouvrables.</p>
                </div><!-- End .text-center -->

                <form id="contactForm" class="ps-form--contact-us mb-2"
                action="{% url 'pages:contact' %}" method="post">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="form-group">
                                {{ form.full_name}}
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="form-group">
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="form-group">
                                {{ form.phone }}
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                {{ form.subject }}
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                {{ form.company }}
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <div class="form-group">
                                {{ form.message }}
                            </div>
                        </div>
                    </div>

                    <div class="text-center form-group submit">
                        <button type="submit" class="ps-btn">
                            <span class="text-uppercase">envoyer maintenant</span>
                            <i class="icon-arrow-right"></i>
                        </button>
                    </div><!-- End .text-center -->
                </form>
            </div>
        </div>

        <hr class="mt-3 mb-4 mt-md-1">

        <div class="touch-container row justify-content-center">
            <div class="col-md-10 col-lg-8 mb-5">
                <div class="text-center">
                    <h2 class="pt-2">Passation de commande</h2>
                    <!-- End .title mb-2 -->

                    <p class="mb-0">Si vous rencontrez des difficultés à passer
                    votre commande merci de nous appeler sur le numéro suivant:</p>

                    <p class="display-4 font-weight-bold mb-1">
                    {{ contact_one }} / {{ contact_two }}</p>

                    <p>
                        Horaires de service: <strong>08h00 à 17h00 du Lundi au vendredi,
                        Samedi de 08h00 à 14h00.</strong>
                    </p>
                </div><!-- End .text-center -->
            </div><!-- End .col-md-9 col-lg-7 -->
        </div><!-- End .row -->
    </div>
{% endblock content %}
