{% extends "base.html" %}
{% load cache crispy_forms_tags %}

{% block others_javascript %}
    <script type='text/javascript'>
        $(document).ready(function() {
            "use strict";

            var contactForm = $('#contactForm');

            contactForm.on('submit', function(e){
                // prevent from normal form behaviour
                e.preventDefault();
                // serialize the form data
                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize(),

                    success : function(response){
                        //reset the form after successful submit
                        $("#contactForm")[0].reset();
                        alert("Merci de nous avoir contactés !");
                        console.log("message envoyé avec success.")
                    },

                    error: function(response) {
                        alert(response.responseJSON.errors);
                        console.log(response.responseJSON.errors);
                    }
                });
                return false;
            });
        });
    </script> 
{% endblock others_javascript %}


{% block content %}
    <div class="ps-page--single" id="contact-us">
        {% include "partials/breadcrumb.html" %}

        {% cache 800 location request.user.id %}
            <div class="ps-contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14049.340485982573!2d-0.12031301106485542!3d51.50228117351734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604ce176ac979%3A0x42af85654e23a0b4!2sThe%20National%20Gallery!5e0!3m2!1sen!2s!4v1582441665587!5m2!1sen!2s" height="500"></iframe>
            </div>
        {% endcache %}

        <div class="ps-contact-info">
            <div class="container">
                <div class="ps-section__header">
                    <h3>Contactez-nous pour toute question</h3>
                </div>
                <div class="ps-section__content">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-block--contact-info">
                                <h4>Contactez directement</h4>
                                <p><h4>(+225) {{ contact_two }}</h4></p>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-block--contact-info">
                                <h4>Service Clients</h4>
                                <p><h4>(+225) {{ contact_one }}</h4></p>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-block--contact-info">
                                <h4>Travaille avec nous</h4>
                                <p>
                                    <span>Envoyez votre CV à notre email:</span>
                                    <h4>{{ email_info }}</h4>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- contact form -->
        <div class="ps-contact-form">
            <div class="container">
                <form id="contactForm" class="ps-form--contact-us" action="{% url 'pages:contact' %}" method="post">
                    {% csrf_token %}
                    <h3 class='mb-5'>
                        Nous écrire
                        <p>Envoyez-nous votre requête via le formulaire en ligne ci-contre et nous vous répondrons sous 2 jours ouvrables.</p>
                    </h3>
                    
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="form-group">
                                {{ form.full_name}}
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="form-group">
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                            <div class="form-group">
                                {{ form.phone }}
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                {{ form.company }}
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                {{ form.subject }}
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                            <div class="form-group">
                                {{ form.message }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group submit">
                        <button class="ps-btn">Envoyer le message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
