{% extends "base.html" %}

{% block content %}
    {% include "includes/partials/_partials_breadcrumb.html" %}

    <div class="page-header text-center bg-light py-5">
        <div class="container">
            <div class="ps-section__header">
                <h1 style="color:#fcb800;">F.A.Q</h1>
                <span>Comment pouvons-nous vous aider ?</span>
            </div>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <div class="ps-faqs py-5">
        <div class="container">
            <div class="ps-section__content">
                <div class="table-responsive">
                    <table class="table ps-table--faqs">
                        <tbody>
                            <tr>
                                <td class="question">
                                    Est-ce que je peux annuler ma commande ?
                                </td>
                                <td class="text-justify">
                                    <p class="mt-0">Oui, vous pouvez annuler votre commande si
                                    elle n'est toujours pas expédiée</p>

                                    <p>Les commandes déjà expédiées ne peuvent être annulées,
                                    vous pourrez rejeter la livraison une fois que notre commis à
                                    la livraison vous contactera.</p>

                                    <p>Pour les commandes livrées, vous pouvez soumettre une demande de
                                    retour de votre compte.</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="question">
                                    Ma commande est prépayée, comment serais-je remboursée ?
                                </td>
                                <td>
                                    <p class="mt-0">Si votre commande est prépayée, nous procédons avec votre remboursement dans
                                    les sept (7) jours suivant l’annulation et vous
                                    aviserons par email une fois le remboursement effectué.</p>
                                </td>
                            </tr>

                            <tr>
                                <td class="question">Ma commande est expédiée mais je souhaite tout de même l'annuler</td>
                                <td>
                                    <p class="mt-0">Si votre commande est expédiée, pas d'inquiétude, vous pourrez
                                    rejeter la livraison une fois que notre commis à la livraison vous contactera. </p>
                                </td>
                            </tr>

                            <tr>
                                <td class="question">
                                    Comment effectuer l’annulation de ma commande ?
                                </td>
                                <td>
                                    <p class="mt-0">En cours de redaction. </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="ps-call-to-action">
        <div class="container">
            {% url "pages:contact" as contact %}
            <h3>Nous sommes là pour vous aider !<a href="{{ contact }}"> Nous contacter</a></h3>
        </div>
    </div>
{% endblock content %}
