{% extends "base.html" %}

{% block content %}
    {% include "partials/breadcrumb.html" %}

    <div class="ps-about-intro py-5">
        <div class="container">
            <div class="ps-section__header">
                <h4 class="mb-5 text-center">{{ page_title }}</h4>

                <h3>Nous connectons des millions d'acheteurs et de vendeurs à travers le monde, responsabilisons les gens et créons des opportunités économiques pour tous.</h3>

                <p>Sur nos marchés, des millions de personnes dans le monde se connectent, en ligne et hors ligne, pour fabriquer, vendre et acheter des produits uniques. Nous proposons également une large gamme de services et d'outils pour les vendeurs qui aident les entrepreneurs créatifs à démarrer, gérer et développer leur entreprise. Notre mission est de réinventer le commerce de manière à créer un monde plus épanouissant et durable, et nous nous engageons à utiliser le pouvoir des entreprises pour renforcer les communautés et autonomiser les gens.</p>
            </div>
        </div>
    </div>
{% endblock content %}
