 <div class="ps-panel--search-result">
    <div class="ps-panel__content">
        <div class="ps-product ps-product--wide ps-product--search-result">
            <div class="ps-product__thumbnail">
                <a href="#"><img src="img/products/arrivals/1.jpg" alt=""></a>
            </div>

            <div class="ps-product__content"><a class="ps-product__title" href="#">Apple iPhone Retina 6s Plus 32GB</a>
                <div class="ps-product__rating">
                    <select class="ps-rating" data-read-only="true">
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                        <option value="2">5</option>
                    </select><span></span>
                </div>
                <p class="ps-product__price">$990.50</p>
            </div>
        </div>

        <div class="ps-product ps-product--wide ps-product--search-result">
            <div class="ps-product__thumbnail"><a href="product-default.html"><img src="img/products/arrivals/1.jpg" alt=""></a></div>
            <div class="ps-product__content"><a class="ps-product__title" href="product-default.html">Apple iPhone Retina 6s Plus 64GB</a>
                <div class="ps-product__rating">
                    <select class="ps-rating" data-read-only="true">
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                        <option value="2">5</option>
                    </select><span></span>
                </div>
                <p class="ps-product__price">$1120.50</p>
            </div>
        </div>

        <div class="ps-product ps-product--wide ps-product--search-result">
            <div class="ps-product__thumbnail"><a href="product-default.html"><img src="img/products/arrivals/1.jpg" alt=""></a></div>
            <div class="ps-product__content"><a class="ps-product__title" href="product-default.html">Apple iPhone Retina 6s Plus 128GB</a>
                <div class="ps-product__rating">
                    <select class="ps-rating" data-read-only="true">
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                        <option value="2">5</option>
                    </select><span></span>
                </div>
                <p class="ps-product__price">$1220.50</p>
            </div>
        </div>
    </div>
    <div class="ps-panel__footer text-center"><a href="#">See all results</a></div>
</div>