{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block others_javascript %}
{% endblock others_javascript %}


{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="text-center form-group submit">
            <button type="submit" class="ps-btn">
                <span class="text-uppercase">envoyer maintenant</span>
                <i class="icon-arrow-right"></i>
            </button>
        </div>
    </form>
{% endblock content %}
