<!-- seller_dasboard/base.html -->

{% extends "dashboard/seller/base.html" %}
{% load humanize %}

{% block content %}
    {% url 'seller:order_list' as order_list_url %}

    <div class="ps-main__wrapper">
        <header class="header--dashboard mb-5">
            <div class="header__left">
                <span>Tableau de bord: </span>
                <h3>{{ page_title }}</h3>
            </div>
        </header>

        <section class="ps-dashboard">
            <div class="ps-section__left">
                <div class="ps-card">
                    {% if order_list_today %}
                        <div class="ps-card__header">
                            <h4>Vos commandes aujourd'hui</h4>
                        </div>
                        
                        <div class="ps-card__content mb-4">
                            <div class="table-responsive">
                                <table class="table ps-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>ID Commande</th>
                                            <th>Total</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for object in order_list_today|slice:'0:5' %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>
                                                    <a class="font-weight-bold text-success"
                                                        href="{{ object.order.get_absolute_url }}">
                                                    {{ object.order.transaction_id }}</a>
                                                </td>
                                                <td><strong>{{ object.order.total_order|intcomma }} Fr</strong></td>
                                                <td><strong>{{ object.date_created|date }}</strong></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% else %}
                        <div class="ps-section__content">
                            <div class="text-center py-2">
                                <span class="d-flex justify-content-center">
                                    <img class="img-fluid" height="160px" width="160px"
                                    srcset="{{ STATIC_PREFIX }}img/emptycart.png"
                                    src="{{ STATIC_PREFIX }}img/emptycart.png" alt="empty-cart-{{ page_title }}">
                                </span>

                                <p class="font-weight-bold">Vous n'avez aucun produit commandé pour aujourd'hui.</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if order_list %}
                        <div class="ps-card__header">
                            <h4>Vos commandes</h4>
                        </div>
                        <div class="ps-card__content">
                            <div class="table-responsive">
                                <table class="table ps-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>ID Commande</th>
                                            <th>Total</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for object in order_list|slice:'0:5' %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td><a class="font-weight-bold text-success"
                                                    href="{{ object.order.get_absolute_url }}">
                                                {{ object.order.transaction_id }}</a></td>
                                                <td><strong>{{ object.order.total_order|intcomma }} Fr</strong></td>
                                                <td><strong>{{ object.date_created|date }}</strong></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="ps-card__footer">
                            <a class="ps-card__morelink" href="{{ order_list_url }}">
                                Afficher tous les produits commandés <i class="icon icon-chevron-right"></i>
                            </a>
                        </div>
                    {% else %}
                        <div class="ps-section__content">
                            <div class="text-center py-2">
                                <span class="d-flex justify-content-center">
                                    <img class="img-fluid" height="160px" width="160px"
                                    srcset="{{ STATIC_PREFIX }}img/emptycart.png"
                                    src="{{ STATIC_PREFIX }}img/emptycart.png" alt="empty-cart-{{ page_title }}">
                                </span>

                                <p class="font-weight-bold">Vous n'avez aucun produit commandé pour l'instant.</p>
                            </div>
                        </div>
                    {% endif %}
                </div>


                <div class="ps-card">
                    {% if product_list %}
                        <div class="ps-card__header">
                            <h4>Vos produits en vente</h4>
                        </div>
                        
                        <div class="ps-card__content">
                            <div class="table-responsive">
                                <table class="table ps-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom</th>
                                            <th>Prix</th>
                                            <th>Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for object in product_list|slice:'0:5' %}
                                            {% include "dashboard/seller/includes/_snippet_product_table.html" %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="ps-card__footer">
                            <a class="ps-card__morelink" href="{% url 'seller:product_list' %}">
                                Afficher tous vos produits
                                <i class="icon icon-chevron-right"></i>
                            </a>
                        </div>
                    {% else %}
                        <div class="ps-section__content">
                            <div class="text-center py-2">
                                <span class="d-flex justify-content-center">
                                    <img class="img-fluid" height="160px" width="160px"
                                    srcset="{{ STATIC_PREFIX }}img/emptycart.png"
                                    src="{{ STATIC_PREFIX }}img/emptycart.png" alt="empty-cart-{{ page_title }}">
                                </span>

                                <p class="font-weight-bold">Vous n'avez aucun produit en vente pour l'instant.</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="ps-section__right">
                <section class="ps-card ps-card--statics">
                    <div class="ps-card__header">
                        <h4>Statistiques</h4>
                    </div>
                    {% include "dashboard/seller/includes/_partials_statistics.html" with object=object %}
                </section>
            </div>
        </section>
    </div>
{% endblock content %}
