<!-- seller_dasboard/base.html -->

{% extends "dashboard/seller/base.html" %}
{% load humanize %}

{% block content %}
    {% url 'dashboard_seller:order_list' as order_list_url %}
    {% url 'dashboard_seller:product_list' as product_list_url %}

    <section class="row">
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xxl-flex align-items-center">
                        <div class="col-12 col-xxl-6 ps-xxl-4 pe-xl-0">
                            <h3 class="fw-extrabold mb-1">{{ cash_total_seller|intword }} Fr</h3>
                            <h2 class="fs-5 fw-normal mb-1">Revenu</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-sm-flex d-xl-block d-xxl-flex align-items-center">
                        <div class="col-12 col-sm-6 col-xl-12 col-xxl-6 ps-xxl-4 pe-xxl-0">
                            <h3 class="fw-extrabold mb-1">{{ orders_count|intword }}</h3>
                            <h2 class="fs-5 fw-normal mb-1">Commande{{ orders_count|pluralize:'s' }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xxl-flex align-items-center">
                        <div class="col-12 col-xxl-6 ps-xxl-4 pe-xxl-0">
                            <h3 class="fw-extrabold mb-1">{{ product_count|intword }}</h3>
                            <h2 class="fs-5 fw-normal mb-1">Produit{{ product_count|pluralize:'s' }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="col-12 col-md-6 col-xxl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-header d-flex align-items-center">
                    <h2 class="fs-5 fw-bold mb-0">Vos commandes d'aujourd'hui</h2>
                    <div class="ms-auto">
                        <a class="fw-normal d-inline-flex align-items-center" href="#">
                            <svg class="icon icon-xxs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path><path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"></path></svg> Tout afficher
                        </a>
                    </div>
                </div>

                <div class="card-body py-0">
                    <ul class="list-group list-group-flush">
                        {% for object in order_list_today|slice:'0:5' %}
                            <li class="list-group-item bg-transparent border-bottom py-3 px-0">
                                <div class="row align-items-center">
                                    <div class="col-auto px-0">
                                        <h4 class="fs-6 fw-extrabold mb-0">
                                            <a href="{{ object.order.get_absolute_url }}">
                                                #{{ object.order.transaction_id }}
                                            </a>
                                        </h4>
                                        <span class="small">
                                            {{ object.order.get_full_name|safe }}
                                            &smid; {{ object.order.date|date:"SHORT_DATE_FORMAT" }}
                                        </span>
                                    </div>

                                    <div class="col text-end">
                                        <span class="fs-6 fw-bolder text-dark">
                                            {{ object.order.total_order|intcomma }} Fr
                                        </span>
                                    </div>
                                </div>
                            </li>
                        {% empty %}
                            <div class="text-center py-2">
                                <span class="d-flex justify-content-center">
                                    <img class="img-fluid" height="160px" width="160px"
                                    src="{{ STATIC_PREFIX }}img/emptycart.svg" alt="empty-cart-{{ page_title }}">
                                </span>

                                <p class="font-weight-bold">Vous n'avez aucun produit commandé pour aujourd'hui.</p>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xxl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-header d-flex align-items-center">
                    <h2 class="fs-5 fw-bold mb-0">Vos produits en vente</h2>
                    <div class="ms-auto">
                        <a class="fw-normal d-inline-flex align-items-center" href="{{ product_list_url }}">
                            <svg class="icon icon-xxs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path><path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"></path></svg> Tout afficher
                        </a>
                    </div>
                </div>

                <div class="card-body py-0">
                    <ul class="list-group list-group-flush">
                        {% for object in product_list|slice:'0:5' %}
                            <li class="list-group-item bg-transparent border-bottom py-3 px-0">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <a href="{{ object.get_absolute_url }}" class="avatar-md">
                                            <img class="rounded" loading="lazy"
                                                alt="{{ object.name|slugify }}"
                                                src="{{ object.get_image_url }}">
                                        </a>
                                    </div>

                                    <div class="col-auto px-0">
                                        <h4 class="fs-6 fw-extrabold mb-0">
                                            <a href="{{ object.get_absolute_url }}">
                                                {{ object.name|truncatewords:"2"|safe }}
                                            </a>
                                        </h4>
                                        <span class="small">
                                            {{ object.category.name|safe }}
                                            &smid; {{ object.created_at|date:"SHORT_DATE_FORMAT" }}
                                        </span>
                                    </div>

                                    <div class="col text-end">
                                        <span class="fs-6 fw-bolder text-dark">
                                            {{ object.price|intcomma }} Fr
                                        </span>
                                    </div>
                                </div>
                            </li>
                        {% empty %}
                            <div class="text-center py-2">
                                <span class="d-flex justify-content-center">
                                    <img class="img-fluid" height="160px" width="160px"
                                    src="{{ STATIC_PREFIX }}img/emptycart.svg" alt="empty-cart-{{ page_title }}">
                                </span>

                                <p class="font-weight-bold">
                                    Vous n'avez aucun produit en vente pour l'instant.
                                </p>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
