<!-- includes/footer.html -->
{% load mptt_tags %}
{% url 'home' as home %}
{% url "pages:cgu" as cgu %}
{% url "pages:faqs" as faqs %}
{% url "pages:return" as return %}
{% url "pages:policy" as policy %}
{% url "pages:contact" as contact %}
{% url "pages:about-us" as about_us %}
{% url "order_tracking" as order_tracking_id %}
{% url "seller:order_list" as seller_order_list %}
{% url "seller:product_list" as seller_product_list %}

<footer class="ps-footer pt-5 mt-5 flex-shrink-0">
    <div class="ps-container">
        {% if not request.resolver_match.url_name == 'order_tracking' and not request.resolver_match.url_name == 'account_signup' and not request.resolver_match.url_name == 'account_login' and not request.resolver_match.url_name == 'customer_signup' %}
            <div class="ps-footer__widgets pb-0 pt-5" style="border-top:1px solid #e1e1e1;">
                <aside class="widget widget_footer widget_contact-us">
                    <h4 class="widget-title">Contactez-nous</h4>
                    <div class="widget_content">
                        <p><span class="text-uppercase"><strong>{{ title }}</strong>,
                        filiale cgic group</span></p>
                        <p>Appelez-nous 24/7</p>
                        <h3>{{ contact_one }}</h3>
                        <p>{{ address }}</p>
                    </div>
                </aside>

                <aside class="widget widget_footer">
                    <h4 class="widget-title">Liens rapides</h4>
                    <ul class="ps-list--link">
                        <li><a href="{{ faqs }}">FAQs</a></li>
                        <li><a href="{{ return }}">Politique de retour</a></li>
                        <li><a href="{{ policy }}">Politique de Confidentialité</a></li>
                        <li><a href="{{ cgu }}">Conditions Générales d'Utilisation</a></li>
                    </ul>
                </aside>

                <aside class="widget widget_footer">
                    <h4 class="widget-title">Entreprise</h4>
                    <ul class="ps-list--link">
                        <li><a href="{{ contact }}">Contactez-nous</a></li>
                        <li><a href="{{ about_us }}">À propos de nous</a></li>
                        <li><a href="#">Mode de livraison</a></li>
                        <li><a href="#">Mode de paiement</a></li>
                    </ul>
                </aside>

                {% if request.user.is_authenticated %}
                    <aside class="widget widget_footer">
                        <h4 class="widget-title">Mon compte</h4>
                        <ul class="ps-list--link">
                            <li><a href="{{ seller_product_list }}">Mes articles</a></li>
                            <li><a href="{{ seller_order_list }}">Mes commandes</a></li>
                            <li><a href="{{ order_tracking_id }}">Suivre ma commande</a></li>
                        </ul>
                    </aside>
                {% else %}
                    <aside class="widget widget_footer">
                        <h4 class="widget-title">Aide(FAQ)</h4>
                        <ul class="ps-list--link">
                            <li><a href="#">Poliques de Vente</a></li>
                            <li><a href="#">Conseils pour son magasin</a></li>
                            <li><a href="#">Conseils pour son produit</a></li>
                            <li><a href="{{ order_tracking_id }}">Suivre ma commande</a></li>
                        </ul>
                    </aside>
                {% endif %}
            </div>
        {% endif %}

        <div class="ps-footer__copyright py-3">
            <p>
                &copy; <script>document.write(new Date().getFullYear());</script>
                <a class="font-weight-bold" title="{{ title }}" href="{{ home }}"> {{ title }}</a>.
            </p>

            {% include "includes/partials/_partials_social_link.html" %}
        </div>
    </div>
</footer>

<div id="back2top"><i class="icon icon-arrow-up"></i></div>

<div class="ps-site-overlay"></div>
