{% load mptt_tags %}

{% full_tree_for_model category.Category as categories %}

{% recursetree categories %}
    <li {% if node.children.exists %}class="menu-item-has-children has-mega-menu"{% endif %}>

        <a href="{{ node.get_absolute_url }}">{{ node.name|safe }}</a>

        {% if node.children.all %}
            <span class="sub-toggle"></span>
            <div class="mega-menu">
                {% for object in node.children.all %}
                    <div class="mega-menu__column">
                        <h4>
                            {{ object.name|safe }}
                            <span class="sub-toggle"></span>
                        </h4>
                        {% if object.children.exists %}
                            <ul class="mega-menu__list">
                                {% for obj in object.children.all %}
                                    <li><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </li>
{% endrecursetree %}
