{% if object_product_recent %}

    {% url "catalogue:product_list" as product_list %}

    <section class="ps-deal-of-day container bg-white py-5">
        <div class="ps-section__header mb-2">
            <h3 class="text-capitalize">Nouveautés</h3>
            <a class="font-weight-bolder" href="{{ product_list }}">
                Voir plus
            </a>
        </div>

        <div class="ps-section__content pt-4">
            <div class="ps-carousel--nav owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="5" data-owl-item-xs="2" data-owl-item-sm="3" data-owl-item-md="4" data-owl-item-lg="4"data-owl-item-xl="5" data-owl-duration="1000" data-owl-mousedrag="on">

                {% for product in object_product_recent %}
                    {% include "catalogue/snippet/_snippet_product.html" with instance=product %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
