{% url 'search' as search %}
{% url "cart:cart" as cart %}
{% url "pages:promotion" as promotion_url %}

{% url "auth_views:account_login" as login %}
{% url "auth_views:account_signup"  as signup %}
{% url "dashboard_seller:profile" as seller_profile %}
{% url "delivery:delivery_register" as delivery_register %}

{% load humanize mptt_tags search_tags catalogue_tags %}

<!-- affficher sur la page detail de produit -->
{% if request.resolver_match.url_name == 'product_detail' %}
    <header class="header header--product" data-sticky="true">
        <nav class="navigation">
            <div class="container">
                <article class="ps-product--header-sticky">
                    <div class="ps-product__thumbnail">
                        <img {% if object.get_image_url %}
                            src="{{ object.get_image_url }}"{% else %} src="{{ STATIC_PREFIX }}img/empty_image.svg"{% endif %}
                            alt="{{ object.name }}" loading="lazy" height="60" width="60">
                    </div>

                    <div class="ps-product__wrapper">
                        <div class="ps-product__content">
                            <a class="ps-product__title" href="{{ object.get_absolute_url }}">{{ object.name }}</a>
                            <ul class="ps-tab-list">
                                <li class="active">
                                    <a href="#tab-1">Description</a>
                                </li>
                                <li><a href="#tab-2">Vendeur</a></li>
                                <li><a href="#tab-3">Avis client ({{ object.countreview }})</a></li>
                            </ul>
                        </div>

                        <form method="post" action=".">
                            {% csrf_token %}
                            <div class="ps-product__shopping">
                                <span class="ps-product__price">
                                    <span>{{ object.price|intcomma }} Fr</span>
                                </span>

                                <a href="{{ cart }}" class="ps-btn text-uppercase">
                                voir le panier</a>
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </nav>
    </header>
{% endif %} <!-- ./end -->

<!-- afficher sur la page de detail des categorie -->
<header class="header header--1" data-sticky="{% if not request.resolver_match.url_name == 'product_detail' %}true{% endif %}">
    <!-- header top: first -->
    <div class="header__top">
        <div class="ps-container">
            <div class="header__left">
                <div class="navigation__left">
                    <div class="menu--product-categories">
                        <div class="menu__toggle">
                            <i class="icon-menu"></i><span>Catégories</span>
                        </div>
                        <div class="menu__content">
                            <ul class="menu--dropdown">
                                {% include "includes/partials/_partials_menu_category.html" %}
                            </ul>
                        </div>
                    </div>
                </div>

                <a class="ps-logo" href="/" title="{{ title }}">
                    <img loading="lazy" src="{{ STATIC_PREFIX }}img/logo.png" alt="{{ title }}">
                </a>
            </div>

            <div class="header__center">
                {% search_box request %}
            </div>

            <div class="header__right">
                <div class="header__actions">
                    {% if request.user.is_authenticated %}
                        <div class="ps-block--user-header">
                            <div class="ps-block__left"><i class="icon-user"></i></div>
                            <div class="ps-block__right">
                                {% if request.user.is_authenticated and request.user.is_seller or request.user.is_superuser %}
                                    <a class="font-weight-bolder" href="{{ seller_profile }}" target="_blank">
                                    Mon <br>Compte </a>
                                {% else %}
                                    <a class="font-weight-bolder" href="{{ login }}">Connectez-vous <br> à votre compte</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="ps-cart--mini">
                            {% include "cart/snippet/item_cart.html" %}
                        </div>
                    {% else %}
                        <div class="ps-cart--mini">
                            {% include "cart/snippet/item_cart.html" %}
                        </div>
                        <div class="ps-block--user-header">
                            <div class="ps-block__left"><i class="icon-user"></i></div>
                            <div class="ps-block__right">
                                {% if request.user.is_authenticated and request.user.is_seller or request.user.is_superuser %}
                                    <a class="font-weight-bolder" href="{{ seller_profile }}" target="_blank">
                                    Mon <br>Compte </a>
                                {% else %}
                                    <a class="font-weight-bolder" href="{{ login }}">Connectez-vous <br> à votre compte</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<header class="header header--mobile header--mobile-categories header--mobile-product" data-sticky="true">
    <div class="header__top p-0">
        <div class="header__center">
            <p>
                <a class="font-weight-bold text-uppercase" href="{{ delivery_register  }}">
                devener distributeur agréé chez {{ title }}</a>
            </p>
        </div>
    </div>

    <nav class="navigation--mobile">
        {% if request.resolver_match.url_name == 'product_list' %}
            <div class="navigation__left">
                <a class="header__back" href="/">
                    <i class="icon-chevron-left"></i><strong>Retour</strong>
                </a>
            </div>
        {% else %}
        <div class="navigation__left">
            <a class="ps-logo" href="/">
                <img loading="lazy" src="{{ STATIC_PREFIX }}img/logo_light.png" alt="{{ title }}">
            </a>
        </div>
        {% endif %}

        <div class="navigation__right">
            <div class="header__actions">
                <div class="ps-cart--mini">
                    {% include "cart/snippet/item_cart.html" %}
                </div>

                <div class="ps-block--user-header">
                    <div class="ps-block__right">
                        {% if request.user.is_authenticated and request.user.is_seller or request.user.is_superuser %}
                            <a href="{{ seller_profile }}"><i class="icon-user"></i></a>
                        {% else %}
                            <a href="{{ login }}"><i class="icon-user"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="ps-search--mobile">
        <form role='search' accept-charset="utf-8" class="ps-form--search-mobile" action="{{ search }}" method="get">
            <div class="form-group--nest">
                <input id='input-search' name='q' class="form-control" type="search"
                placeholder="Rechercher un produit, une catégorie, une marque ..."
                value="{{ request.GET.q }}">
                <button type="submit"><i class="icon-magnifier"></i></button>
            </div>
        </form>
    </div>
</header>

<!-- contenu du panier -->
{% shopcart_items items request %}
<!-- .end contenu du panier -->

{% include "includes/partials/menu_category_mobile.html" %}

<!-- menu de navigation mobile -->
<div class="navigation--list">
    <div class="navigation__content">
        <a class="navigation__item ps-toggle--sidebar" href="#menu-mobile">
            <i class="icon-menu"></i><span> Menu</span>
        </a>

        <a class="navigation__item ps-toggle--sidebar" href="#navigation-mobile">
            <i class="icon-list4"></i><span> Catégories</span>
        </a>

        <a class="navigation__item ps-toggle--sidebar" href="#cart-mobile">
            <i class="icon-bag2"></i><span> Panier</span>
        </a>
    </div>
</div>

{% include "includes/partials/menu_mobile.html" %}
