<div class="ps-section__center">
    <div class="ps-carousel--dots owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on">
        {% for object in annonces %}
            <div class="ps-banner bg--cover" data-background="{{ object.get_image_url }}">
            </div>
        {% endfor %}
    </div>
</div>