<section class="ps-block--container-hightlight">
    <div class="ps-section__header pb-3">
        <h3>{{ header_text }}</h3>
    </div>
    <div class="ps-section__content py-3">
        <div class="ps-carousel--nav owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="false" data-owl-item="5" data-owl-item-xs="2" data-owl-item-sm="3" data-owl-item-md="4" data-owl-item-lg="4" data-owl-item-xl="5" data-owl-duration="1000" data-owl-mousedrag="on">
            {% for object in object_list %}
                {% for instance in object.campaigns.all %}
                    {% include "catalogue/snippet/_snippet_product.html" with instance=instance.product %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>
