<!-- includes/partials/_partials_similary_product.html -->

{% load catalogue_tags %}

    <aside class="widget widget_same-brand">
        <h3>De la même catégorie</h3>
        <div class="widget__content">
            {% for instance in related_product|slice:'0:2' %}
                <div class="ps-product">
                    <div class="ps-product__thumbnail">
                        <a href="{{ instance.get_absolute_url }}">
                            <img src="{{ instance.get_image_url }}" alt="{{ instance.name }}">
                        </a>
                    </div>
                    
                    <div class="ps-product__container">
                        {% if instance.user.store %}
                            <a class="ps-product__vendor" href="{{ instance.user.get_absolute_url }}">{{ instance.user.store|upper }}</a>
                        {% endif %}

                        <div class="ps-product__content">
                            <a class="ps-product__title" href="{{ instance.get_absolute_url }}">
                                {{ instance.name|truncatewords:"10"|safe }}
                            </a>

                            <div class="ps-product__rating">
                                <span>{{ instance.countreview }} avis clients</span>
                            </div>
                            <p class="ps-product__price sale">
                                {{ instance.price }}
                                    {% if instance.old_price %}<del>{{ instance.old_price }}</del>
                                {% endif %}
                            </p>
                        </div>

                        <div class="ps-product__content hover">
                            <a class="ps-product__title" href="{{ instance.get_absolute_url }}">{{ instance.name|truncatewords:"10"|safe }}</a>

                            <p class="ps-product__price sale">{{ instance.price }}
                                {% if instance.old_price %}
                                    <del>{{ instance.old_price }} </del>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </aside>
