<section class="ps-section--default border-bottom mb-3">
    <div class="ps-section__header mb-2">
        <h3 class="text-muted font-weight-bold">{{ header_text }}</h3>
    </div>

    <div class="container py-5">
        <div class="row">
            {% for instance in object_list|slice:'0:6' %}
                <article class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    {% include "catalogue/snippet/_snippet_product.html" with instance=instance %}
                </article>
            {% endfor %}
        </div>
    </div>
</section>
