{% if movie or campaign %}
    <section class="ps-deal-of-day my-3 pb-0">
        <div class="container bg-white p-3">
            <div class="row">
                {% if movie %}
                    <article class="col-xl-6 col-lg-6 col-sm-12 col-12 mb-lg-0 mb-3">
                        <video class="embed-responsive embed-responsive-4by3" controls="controls">
                            <source src="{{ movie.get_video_url }}" type="video/mp4">
                        </video>
                    </article>
                {% endif %}

                {% if campaign %}
                    <article class="col-xl-6 col-lg-6 col-sm-12 col-12 mb-lg-0 mb-3">
                        <a href="{{ campaign.get_absolute_url }}">
                            <img class="h-100" src="{{ campaign.get_image_url }}" alt="{{ campaign.name|slugify }}">
                        </a>
                    </article>
                {% endif %}
            </div>
        </div>
    </section>
{% endif %}
