<!-- partials/breacrumb.html -->

<div class="ps-breadcrumb {% if request.resolver_match.url_name == 'account_login' or request.resolver_match.url_name == 'customer_signup' %}
    text-center
{% endif %}">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url "home" %}">Accueil</a></li>
            <li>{{ page_title }}</li>
        </ul>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-block {{ message.tags }} alert-dismissible font-weight-bold" role="alert">
            {{ message|safe }}
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
