{% load mptt_tags %}

{% full_tree_for_model category.Category as categories %}

{% recursetree categories %}
    <li {% if node.children.exists %}class="menu-item-has-children has-mega-menu"{% endif %}>

        <a href="{{ node.get_absolute_url }}">{{ node.name|safe }}</a>

        {% if node.children.exists %}
            <span class="sub-toggle"></span>
            <div class="mega-menu" role="menu">
                {% for object in node.children.all|slice:"0:4" %}
                    <div class="mega-menu__column">
                        <h4>
                            <a href="{{ object.get_absolute_url }}">
                                {{ object.name|safe }}
                            </a>
                            <span class="sub-toggle"></span>
                        </h4>
                        {% if object.children.exists %}
                            <ul class="mega-menu__list">
                                {% for obj in object.children.all|slice:":9" %}
                                <li><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </li>
{% endrecursetree %}
