<!-- partials/menu_category_mobile.html : mobile sidebar -->

{% load cache mptt_tags %}

{% cache 120 category request.user.id %}
    <nav class="ps-panel--sidebar" id="navigation-mobile">
        <div class="ps-panel__header"><h3>Catégories</h3></div>

        <div class="ps-panel__content">
            <ul class="menu--mobile">
                {% recursetree category %}
                    <li {% if not node.is_leaf_instance %}class="menu-item-has-children has-mega-menu"{% endif %}>
                        <a href="{{ node.get_absolute_url }}">
                            <i class="{% if node.id == 1 %} icon-star {% elif node.id == 2 %} icon-laundry {% elif node.id == 3 %} icon-shirt {% elif node.id == 4 %} icon-lampshade {% elif node.id == 5 %} icon-heart-pulse {% elif node.id == 6 %} icon-diamond2 {% elif node.id == 7 %} icon-desktop {% elif node.id == 8 %} icon-baby-bottle {% elif node.id == 9 %} icon-baseball {% elif node.id == 10 %} icon-smartphone {% elif node.id == 11 %} icon-book2  {% elif node.id == 12 %} icon-car-siren {% elif node.id == 13 %} icon-tag {% endif %}"></i> {{ node.name|safe }}
                        </a>

                        {% if not node.is_leaf_node and node.children.all %}
                            <span class="sub-toggle"></span>
                            <div class="mega-menu">
                                {% for children in node.children.all %}
                                    <div class="mega-menu__column">
                                        <h4>
                                            <a href="{{ children.get_absolute_url }}">{{ children }}</a>
                                            <span class="sub-toggle"></span>
                                        </h4>
                                        {% for obj in children.children.all %}
                                            <ul class="mega-menu__list">
                                                <li><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a></li>
                                            </ul>
                                        {% endfor %}
                                    </div>
                                {% endfor %} 
                            </div>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        </div>
    </nav>
{% endcache %}
