<!-- includes/partials/menu_mobile.html : menu mobile -->

{% url "account_login" as login %}
{% url "account_signup"  as signup %}
{% url "seller:profile" as seller_profile %}
{% url "seller:order_list" as seller_order_list %}
{% url "seller:product_list" as seller_product_list %}

<div class="ps-panel--sidebar" id="menu-mobile">
    <div class="ps-panel__header"><h3>Menu</h3></div>

    <div class="ps-panel__content">
        <ul class="menu--mobile">
            {% if request.user.is_authenticated  %}
                {% if request.user.is_seller or request.user.is_superuser %}
                    <li class="menu-item-has-children has-mega-menu">
                        <a href="{{ seller_profile }}">
                            <i class="icon-home mr-2"></i>
                            Tableau de bord
                        </a>
                    </li>

                    <li class="menu-item-has-children has-mega-menu">
                        <a href="{{ seller_order_list }}">
                        <i class="icon-bag2 mr-2"></i>Mes Commandes</a>
                    </li>

                    <li class="menu-item-has-children has-mega-menu">
                        <a href="{{ seller_product_list }}">
                        <i class="icon-database mr-2"></i>Mes Articles</a>
                    </li>

                    <hr class="dropdown-divider py-2">

                    <li class="menu-item-has-children has-mega-menu">
                        <a href="{{ request.user.get_update_url }}">
                        <i class="icon-cog mr-2"></i>Réglages</a>
                    </li>

                    <hr class="dropdown-divider py-2">

                    <li class="menu-item-has-children has-mega-menu">
                        <a href="{{ request.user.get_absolute_url }}">
                        <i class="icon-exit-right mr-2"></i>Ma boutique</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="menu-item-has-children has-mega-menu">
                    <a href="{{ login }}">Se connecter</a>
                </li>

                <li class="menu-item-has-children has-mega-menu">
                    <a href="{{ signup }}">Ouvrir une boutique</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
