<!-- partials/pagination.html -->

{% if is_paginated %}
<nav aria-label="ps-pagination">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li>
            <a href="{{ request.path }}?p={{ page_obj.previous_page_number }}">
                Précédent <i class="icon-chevron-right"></i>
            </a>
        </li>
        {% else %}
        <li class="disabled">
            <a href="#">
                Précédent <i class="icon-chevron-right"></i>
            </a>
        </li>
        {% endif %}

        {% for object in page_obj.paginator.page_range %}
        {% if object == page_obj.number %}
        <li class="active" aria-current="page">
            <a href="{{ request.path }}?p={{ object }}">{{ object }}</a>
        </li>
        {% else %}
        <li>
            <a href="{{ request.path }}?p={{ object }}">{{ object }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li>
            <a href="{{ request.path }}?p={{ page_obj.next_page_number }}">
                <i class="icon-chevron-right">
                </a>
            </li>
            {% else %}
            <li class="disabled">
                <a href="{{ request.path }}?p={{ page_obj.next_page_number }}">Suivant <i class="icon-chevron-right"></i></a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
