<!-- product image -->
{% load static %}{% get_static_prefix as STATIC_PREFIX %}

<div class="ps-product__thumbnail" data-vertical="true">
    <figure>
        <div class="ps-wrapper">
            <div class="ps-product__gallery" data-arrow="true">
                {% for obj in product_image %}
                    <div class="item">
                        <a href="{{ obj.image }}">
                            <img {% if obj.image.url %} srcset="{{ obj.image.url }}" src="{{ obj.image.url }}"
                            {% else %} srcset="{{ STATIC_PREFIX }}img/empty_image.svg"
                            src="{{ STATIC_PREFIX }}img/empty_image.svg"{% endif %} alt="{{ obj.product.name }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </figure>

    <div class="ps-product__variants" data-item="4" data-md="4" data-sm="4" data-arrow="false">
        {% for obj in product_image %}
            <div class="item">
                <img {% if obj.image.url %} srcset="{{ obj.image.url }}" src="{{ obj.image.url }}"
                {% else %} srcset="{{ STATIC_PREFIX }}img/empty_image.svg"
                src="{{ STATIC_PREFIX }}img/empty_image.svg"{% endif %} alt="{{ obj.product.name }}">
            </div>
        {% endfor %}
    </div>
</div>