{% if is_paginated %}
    <nav aria-label="page navigation" class="text-center mt-3">
        <ul class="pagination mb-0">
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}">
                        <i class="icon-chevron-left"></i> Précedent
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="#">
                        <i class="icon-chevron-left"></i>
                    </a>
                </li>
            {% endif %}
            
            <li>
                <a href="#" class="font-weight-bold">
                   {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
                </a>
            </li>

            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}">
                        Suivant <i class="icon-chevron-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
