<!-- product image -->
{% load static %}{% get_static_prefix as STATIC_PREFIX %}

<div class="ps-product__thumbnail" data-vertical="true">
    <figure>
        <div class="ps-wrapper">
            <div class="ps-product__gallery" data-arrow="true">
                {% for object in object.product_images.all %}
                    <div class="item">
                        <a href="{{ object.image }}">
                            <img loading="lazy" src="{% if object.image.url %} {{ object.image.url }} {% else %} {{ STATIC_PREFIX }}img/empty_image.svg{% endif %}" alt="{{ object.product.name }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </figure>

    <div class="ps-product__variants" data-item="4" data-md="4" data-sm="4" data-arrow="false">
        {% for obj in object.product_images.all %}
            <div class="item">
                <img src="{% if obj.image.url %} {{ obj.image.url }} {% else %} {{ STATIC_PREFIX }}img/empty_image.svg{% endif %}" alt="{{ obj.product.name }}">
            </div>
        {% endfor %}
    </div>
</div>
