<!-- product image -->
{% load static %}{% get_static_prefix as STATIC_PREFIX %}

<div class="ps-product__thumbnail" data-vertical="true">
    <figure>
        <div class="ps-wrapper">
            <div class="ps-product__gallery" data-arrow="true">
                {% for obj in object.images.all %}
                    <div class="item">
                        <a href="{{ obj.image }}">
                            <img loading="lazy" src="{{ obj.image.url }}" alt="{{ obj.product.name|slugify }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </figure>

    <div class="ps-product__variants" data-item="4" data-md="4" data-sm="4" data-arrow="false">
        {% for obj in object.images.all %}
            <div class="item">
                <img loading="lazy" src="{{ obj.image.url }}" alt="{{ obj.product.name|slugify }}">
            </div>
        {% endfor %}
    </div>
</div>
