    <a href="#"><img src="{{ STATIC_PREFIX }}img/brand/1.jpg" alt=""></a>
    <a href="#"><img src="{{ STATIC_PREFIX }}img/brand/2.jpg" alt=""></a>
    <a href="#"><img src="{{ STATIC_PREFIX }}img/brand/3.jpg" alt=""></a>
    <a href="#"><img src="{{ STATIC_PREFIX }}img/brand/4.jpg" alt=""></a>
    <a href="#"><img src="{{ STATIC_PREFIX }}img/brand/5.jpg" alt=""></a>
    <a href="#"><img src="{{ STATIC_PREFIX }}img/brand/6.jpg" alt=""></a>
    <a href="#"><img src="{{ STATIC_PREFIX }}img/brand/7.jpg" alt=""></a>
    <a href="#"><img src="{{ STATIC_PREFIX }}img/brand/8.jpg" alt=""></a>
