<div class="row align-content-lg-stretch">
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
        <div class="ps-block--category-2" data-mh="categories">
            <div class="ps-block__thumbnail"><img src="{{ STATIC_PREFIX }}img/categories/shop/1.jpg" alt=""></div>
            <div class="ps-block__content">
                <h4>Vêtements &amp; Accessoires</h4>
                <ul>
                    <li><a href="#">Accessoires</a></li>
                    <li><a href="#">Sacs</a></li>
                    <li><a href="#">Mode pour enfants</a></li>
                    <li><a href="#">Pour les hommes</a></li>
                    <li><a href="#">Chaussures</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
        <div class="ps-block--category-2" data-mh="categories">
            <div class="ps-block__thumbnail"><img src="{{ STATIC_PREFIX }}img/categories/shop/2.jpg" alt=""></div>
            <div class="ps-block__content">
                <h4>Jardin &amp; Cuisine</h4>
                <ul>
                    <li><a href="#">Ustensiiles de cuisine</a></li>
                    <li><a href="#">Décoration</a></li>
                    <li><a href="#">Meubles</a></li>
                    <li><a href="#">Outils de jardin</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
        <div class="ps-block--category-2" data-mh="categories">
            <div class="ps-block__thumbnail"><img src="{{ STATIC_PREFIX }}img/categories/shop/3.jpg" alt=""></div>
            <div class="ps-block__content">
                <h4>Électromenager &amp; Électronique</h4>
                <ul>
                    <li><a href="#">Climatiseurs</a></li>
                    <li><a href="#">Audios &amp; Théâtres</a></li>
                    <li><a href="#">Réfrigerations</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
        <div class="ps-block--category-2" data-mh="categories">
            <div class="ps-block__thumbnail"><img src="{{ STATIC_PREFIX }}img/categories/shop/4.jpg" alt=""></div>
            <div class="ps-block__content">
                <h4>Santé &amp; Beauté</h4>
                <ul>
                    <li><a href="#">Équipements</a></li>
                    <li><a href="#">Soin des cheveux</a></li>
                    <li><a href="#">Perfumeur</a></li>
                    <li><a href="#">Soin de la peau</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
        <div class="ps-block--category-2" data-mh="categories">
            <div class="ps-block__thumbnail"><img src="{{ STATIC_PREFIX }}img/categories/shop/5.jpg" alt=""></div>
            <div class="ps-block__content">
                <h4>Informatique &amp; Technologies</h4>
                <ul>
                    <li><a href="#">Ordinateur de bureau</a></li>
                    <li><a href="#">Ordinateur Portable</a></li>
                    <li><a href="#">Smartphones</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
        <div class="ps-block--category-2" data-mh="categories">
            <div class="ps-block__thumbnail"><img src="{{ STATIC_PREFIX }}img/categories/shop/6.jpg" alt=""></div>
            <div class="ps-block__content">
                <h4>Bijoux &amp; Montres</h4>
                <ul>
                    <li><a href="#">Bijoux de pierres</a></li>
                    <li><a href="#">Montres pour hommes</a></li>
                    <li><a href="#">Montres pour femmes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
        <div class="ps-block--category-2" data-mh="categories">
            <div class="ps-block__thumbnail"><img src="{{ STATIC_PREFIX }}img/categories/shop/7.jpg" alt=""></div>
            <div class="ps-block__content">
                <h4>Accessoires de téléphones </h4>
                <ul>
                    <li><a href="#">Iphone 8</a></li>
                    <li><a href="#">Iphone X</a></li>
                    <li><a href="#">Samsung Note 8</a></li>
                    <li><a href="#">Samsung S8</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 ">
        <div class="ps-block--category-2" data-mh="categories">
            <div class="ps-block__thumbnail"><img src="{{ STATIC_PREFIX }}img/categories/shop/8.jpg" alt=""></div>
            <div class="ps-block__content">
                <h4>Sport &amp; plein air</h4>
                <ul>
                    <li><a href="#">Brûlures de congélation</a></li>
                    <li><a href="#">Glacière Frigde</a></li>
                    <li><a href="#">Armoires à vin</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>