
<div class="ps-layout__left">
    {% include "catalogue/partials/sidebar.html" %}
</div>

<div class="ps-layout__right">
    <div class="ps-block--shop-features">
        <div class="ps-block__header">
            <h3>Meilleurs articles de vente</h3>
            <div class="ps-block__navigation">
                <a class="ps-carousel__prev" href="#recommended1"><i class="icon-chevron-left"></i></a>
                <a class="ps-carousel__next" href="#recommended1">
                    <i class="icon-chevron-right"></i>
                </a>
            </div>
        </div>

        <div class="ps-block__content">
            <div class="owl-slider" id="recommended1" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="6" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="4" data-owl-duration="1000" data-owl-mousedrag="on">
                {% include "catalogue/snippet/product_bestdeals.html" %}
            </div>
        </div>
    </div>

    {% if recomended_product %}
        <div class="ps-block--shop-features">
            <div class="ps-block__header">
                <h3>Articles recommandés</h3>
                <div class="ps-block__navigation">
                    <a class="ps-carousel__prev" href="#recommended"><i class="icon-chevron-left"></i></a>
                    <a class="ps-carousel__next" href="#recommended"><i class="icon-chevron-right"></i></a>
                </div>
            </div>

            <div class="ps-block__content">
                <div class="owl-slider" id="recommended" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="6" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="4" data-owl-duration="1000" data-owl-mousedrag="on">
                    {% for object in recommended_product %}
                        {% include "catalogue/snippet/product_recommended.html" with instance=object %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="ps-shopping ps-tab-root">
        <div class="ps-shopping__header">
            <p><strong> 36</strong> Produits trouvés</p>

            <div class="ps-shopping__actions">
                <select class="ps-select" data-placeholder="Sort Items">
                    <option>Trier par nouveauté</option>
                    <option>Trier par popularité</option>
                    <option>Trier par note moyenne</option>
                    <option>Trier par prix: du plus bas au plus élevé</option>
                    <option>Trier par prix: du plus élevé au plus bas</option>
                </select>
                <div class="ps-shopping__view">
                    <ul class="ps-tab-list">
                        <li><a href="#tab-1"><i class="icon-grid"></i></a></li>
                        <li class="active"><a href="#tab-2"><i class="icon-list4"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="ps-tabs">
            <div class="ps-tab active" id="tab-1">
                <div class="ps-shopping-product">
                    <div class="row">
                        {% for object in object_list %}
                            {% include "catalogue/snippet/product.html" with instance=object %}
                        {% endfor %}
                    </div>
                </div>

                {% include "catalogue/partials/pagination.html" %}
            </div>

            <div class="ps-tab" id="tab-2">
                <div class="ps-shopping-product">
                    {% for object in object_list %}
                        {% include "catalogue/snippet/product_tab.html" with instance=object %}
                    {% endfor %}
                </div>
                {% include "catalogue/partials/pagination.html" %}
            </div>
        </div>
    </div>
</div>
