
<div class="ps-home-banner">
    <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">
        <div class="ps-banner--autopart" data-background="{{ STATIC_PREFIX }}img/slider/autopart/1.jpg">
            <img src="{{ STATIC_PREFIX }}img/slider/autopart/1.jpg" alt="">
            <div class="ps-banner__content">
                <h4>Version 2018</h4>
                <h3>DUNLOP TIRES <br> FASTER</h3>
                <p>New version 2018 with many powerful features.</p>
                <p><strong>Faster, Friction better & Cheap Price</strong></p><a class="ps-btn" href="#">Shop Now</a>
            </div>
        </div>
        <div class="ps-banner--autopart" data-background="{{ STATIC_PREFIX }}img/slider/autopart/2.jpg">
            <img src="{{ STATIC_PREFIX }}img/slider/autopart/2.jpg" alt="">
            <div class="ps-banner__content">
                <h4>Version 2018</h4>
                <h3>CASTROL <br> MOTOR OILS</h3>
                <p>New version 2018 with many powerful features.</p>
                <p><strong>Faster, Friction better & Cheap Price</strong></p><a class="ps-btn" href="#">Shop Now</a>
            </div>
        </div>
    </div>
</div>
