{% load compress %}

{% compress css %}
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/plugins/bootstrap.min.css">
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/plugins/nouislider.min.css">
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/plugins/fontawesome.min.css">
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}fonts/linearicons/demo.css">
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/plugins/owl.carousel.min.css">
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/plugins/owl.theme.default.min.css">
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/plugins/slick.min.css">
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/plugins/fontawesomestars.css">
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/plugins/select2.min.css">

	<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css">
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/autopart.css">
{% endcompress css %}