<!-- includes/footer.html -->
{% load mptt_tags %}
    
    <!-- subscribe form -->

    <footer class="ps-footer pt-5 flex-shrink-0 border">
        <div class="ps-container">
            <div class="ps-footer__widgets pb-0">
                <aside class="widget widget_footer widget_contact-us">
                    <h4 class="widget-title">Contactez-nous</h4>
                    <div class="widget_content">
                        <p>Appelez-nous 24/7</p>
                        <h3>+225 77 27 48 86</h3>
                        <p>Ahougnansou, Bouaké - Côte d'Ivoire 
                        </p>
                    </div>
                </aside>

                <aside class="widget widget_footer">
                    <h4 class="widget-title">Liens rapides</h4>
                    <ul class="ps-list--link">
                        <li><a href="{% url "pages:faqs" %}">FAQs</a></li>
                        <li><a href="{% url "pages:contact" %}">Contact</a></li>
                        <li><a href="{% url "pages:terms" %}">Politique de Confidentialité</a></li>
                        <li><a href="{% url "pages:cgu" %}">Conditions Générales d'Utilisation</a></li>
                    </ul>
                </aside>

                <aside class="widget widget_footer">
                    <h4 class="widget-title">Entreprise</h4>
                    <ul class="ps-list--link">
                        <li><a href="{% url "pages:about-us" %}">À propos de nous</a></li>
                        <li><a href="#">Soumettre une annonce</a></li>
                        <li><a href="#">Liste des magasins</a></li>
                        <li><a href="#">Mode de livraison</a></li>
                    </ul>
                </aside>

                <aside class="widget widget_footer">
                    <h4 class="widget-title">Mon compte</h4>
                    <ul class="ps-list--link">
                        <li><a href="{% url "vendor-product" %}">Mes articles</a></li>
                        <li><a href="{% url "vendor-orders" %}">Mes commandes</a></li>
                        <li><a href="{% url "tracking-order" %}">Suivre ma commande</a></li>
                        <li><a href="#">Mode de paiement</a></li>
                    </ul>
                </aside>
            </div>

            <div class="ps-footer__links py-3">
                {% recursetree category %}
                    <p>
                        <strong>{{ node.name|safe }}:</strong>
                        {% if not node.is_leaf_node and node.children.all %}
                            {% for children in node.children.all %}
                                <a href="{{ children.get_absolute_url }}">{{ children }}</a>
                                {% for obj in children.children.all %}
                                    <a href="{{ obj.get_absolute_url }}">{{ obj.name|safe }}</a>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </p>
                {% endrecursetree %}
            </div>

            <div class="ps-footer__copyright py-3">
                <p>&copy; <script>document.write(new Date().getFullYear());</script> {{ title }}.</p>

                <ul class="ps-list--social">
                    <li>
                        <a class="twitter" href="{{ twitter }}">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a class="facebook" href="{{ facebook }}">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <div id="back2top"><i class="icon icon-arrow-up"></i></div>

    <div class="ps-site-overlay"></div>

    <div class="ps-search" id="site-search">
        <a class="ps-btn--close" href="#"></a>
        <div class="ps-search__content">
            <form class="ps-form--primary-search" action="#" method="post">
                <input class="form-control" type="text" placeholder="Search for...">
                <button><i class="aroma-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
