
    <footer class="ps-footer pt-5 footer flex-shrink-0">
        <div class="ps-container">
            <div class="ps-footer__widgets pb-0">
                <aside class="widget widget_footer widget_contact-us">
                    <h4 class="widget-title">Contactez-nous</h4>
                    <div class="widget_content">
                        <p>Appelez-nous 24/7</p>
                        <h3>+225 77 27 48 86</h3>
                        <p>Ahougnansou, Bouaké - Côte d'Ivoire 
                        </p>
                    </div>
                </aside>

                <aside class="widget widget_footer">
                    <h4 class="widget-title">Liens rapides</h4>
                    <ul class="ps-list--link">
                        <li><a href="{% url "faqs" %}">FAQs</a></li>
                        <li><a href="{% url "contact" %}">Contact</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Term &amp; Condition</a></li>
                    </ul>
                </aside>

                <aside class="widget widget_footer">
                    <h4 class="widget-title">Entreprise</h4>
                    <ul class="ps-list--link">
                        <li><a href="{% url "about-us" %}">À propos de nous</a></li>
                        <li><a href="#">Affilié</a></li>
                        <li><a href="#">Carrière</a></li>
                        <li><a href="{% url "contact" %}">Contact</a></li>
                    </ul>
                </aside>

                <aside class="widget widget_footer">
                    <h4 class="widget-title">Boutique</h4>
                    <ul class="ps-list--link">
                        <li><a href="#">Mon compte</a></li>
                        <li><a href="#">Liste des magasins</a></li>
                        <li><a href="#">Suivre ma commande</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </aside>
            </div>

            <div class="ps-footer__links py-5">
                <p><strong>Consommateur électrique:</strong><a href="#">Air Conditioners</a><a href="#">Audios &amp; Theaters</a><a href="#">Car Electronics</a><a href="#">Office Electronics</a><a href="#">TV Televisions</a><a href="#">Washing Machines</a>
                </p>

                <p><strong>Vêtements &amp; accessoires:</strong><a href="#">Printers</a><a href="#">Projectors</a><a href="#">Scanners</a><a href="#">Store &amp; Business</a><a href="#">4K Ultra HD TVs</a><a href="#">LED TVs</a><a href="#">OLED TVs</a>
                </p>

                <p><strong>Maison, jardin &amp; cuisine:</strong><a href="#">Cookware</a><a href="#">Decoration</a><a href="#">Furniture</a><a href="#">Garden Tools</a><a href="#">Garden Equipments</a><a href="#">Powers And Hand Tools</a><a href="#">Utensil &amp; Gadget</a>
                </p>

                <p><strong>Santé &amp; Beauté:</strong><a href="#">Hair Care</a><a href="#">Decoration</a><a href="#">Hair Care</a><a href="#">Makeup</a><a href="#">Body Shower</a><a href="#">Skin Care</a><a href="#">Cologine</a><a href="#">Perfume</a>
                </p>

                <p><strong>Bijoux &amp; Montres:</strong><a href="#">Necklace</a><a href="#">Pendant</a><a href="#">Diamond Ring</a><a href="#">Sliver Earing</a><a href="#">Leather Watcher</a><a href="#">Gucci</a>
                </p>

                <p><strong>Informatique &amp; Technologies:</strong><a href="#">Desktop PC</a><a href="#">Laptop</a><a href="#">Smartphones</a><a href="#">Tablet</a><a href="#">Game Controller</a><a href="#">Audio &amp; Video</a><a href="#">Wireless Speaker</a><a href="#">Done</a>
                </p>
            </div>

            <div class="ps-footer__copyright py-3">
                <p>&copy; <script>document.write(new Date().getFullYear());</script> {{ title }}.</p>

                <ul class="ps-list--social">
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>

    <div id="back2top"><i class="icon icon-arrow-up"></i></div>
