<!-- includes/header.html -->

{% load cache %}
    
    <!-- affficher sur la page detail de produit -->
    {% if request.resolver_match.url_name == 'detail' %}
        <header class="header header--product" data-sticky="true">
            <nav class="navigation">
                <div class="container">
                    <article class="ps-product--header-sticky">
                        <div class="ps-product__thumbnail">
                            <img src="{{ STATIC_PREFIX }}img/products/detail/fullwidth/1.jpg" alt="">
                        </div>
                        <div class="ps-product__wrapper">
                            <div class="ps-product__content"><a class="ps-product__title" href="#">
                            Marshall Kilburn Portable Wireless Speaker</a>
                                <ul class="ps-tab-list">
                                    <li class="active"><a href="#tab-1">Description</a></li>
                                    <li><a href="#tab-2">Spécification</a></li>
                                    <li><a href="#tab-3">Vendeur</a></li>
                                    <li><a href="#tab-4">Avis client (1)</a></li>
                                </ul>
                            </div>
                            <div class="ps-product__shopping"><span class="ps-product__price"><span>$100.56</span>
                                <del>$106.22</del></span><a class="ps-btn" href="#"> Ajout au panier</a>
                            </div>
                        </div>
                    </article>
                </div>
            </nav>
        </header>
    {% endif %} <!-- ./end -->

    <!-- afficher sur la page de detail du produit -->
    <header class="header header--1" data-sticky="{% if not request.resolver_match.url_name == 'detail' %}true{% endif %}">
        <div class="header__top">
            <div class="ps-container">
                <div class="header__left">
                    {% include "includes/partials/menu_product_category.html" %}
                    <a class="ps-logo" href="/"><img src="{{ STATIC_PREFIX }}img/logo_light.png" alt="{{ title }}"></a>
                </div>

                <div class="header__center">
                    <form class="ps-form--quick-search" action="#" method="get">
                        <input class="form-control" type="text" placeholder="Rechercher un produit, une catégorie, un magasin, une marque ..." id="input-search">
                        <button><i class="icon-magnifier"></i></button>
                    </form>
                </div>

                
                <div class="header__right">
                    <div class="header__actions">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_buyer %}
                                <a class="header__extra" href="#">
                                    <i class="icon-heart"></i><span><i>0</i></span>
                                </a>
                                <div class="ps-cart--mini">
                                    <a class="header__extra" href="#"><i class="icon-bag2"></i><span><i>0</i></span></a>
                                </div>
                                <div class="ps-cart--mini">
                                    <div class="header__extra">
                                        <a class="header__extra" href="{% url 'account_login' %}"><i class="icon-user"></i></a>
                                    </div>
                                </div>
                            {% elif request.user.is_seller %}
                                <div class="ps-block--header-hotline">
                                    <div class="ps-block__right">
                                        <p>Centre d'assistance <strong>+225 77 27 48 86</strong></p>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="ps-block--header-hotline">
                                <div class="ps-block__right">
                                    <p>Centre d'assistance <strong>+225 77 27 48 86</strong></p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <nav class="navigation">
            <div class="ps-container">
                <div class="navigation__left">
                    {% include "includes/partials/menu_product_category.html" %}
                </div>
                
                <div class="navigation__right">
                    <ul class="menu">
                        {% for object in category|slice:"0:3" %}
                            <li>
                                <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <ul class="navigation__extra">
                        {% if user.is_authenticated %}
                            {% if user.is_seller %}
                                <li><a href="{% url "seller:profile" %}" target="_blank">Ma boutique</a></li>
                                <li><a href="#">Ajouter une annonce</a></li>
                            {% else %}
                                <li><a href="{% url "account_signup" %}">Ouvrir ma boutique</a></li>
                                <li><a href="{% url "account_login" %}">Se connecter</a></li>
                            {% endif %}
                        {% else %}
                            <li><a href="{% url "account_login" %}">Se connecter</a></li>
                            <li><a href="{% url "account_signup" %}">Ouvrir ma boutique</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <header class="header header--mobile {% if request.resolver_match.url_name == 'list' %} header--mobile-categories {% elif request.resolver_match.url_name == 'detail' %} header--mobile-product {% endif %}" data-sticky="true">
        <nav class="navigation--mobile">

            {% if request.resolver_match.url_name == 'category_detail' %}
                <div class="navigation__left">
                    <a class="header__back" href="#">
                        <i class="icon-chevron-left"></i><strong>Shop</strong>
                    </a>
                </div>
            {% elif request.resolver_match.url_name == 'detail' %}
                <div class="navigation__left">
                    <a class="header__back" href="{% url "list" %}">
                        <i class="icon-chevron-left"></i><strong>Retour</strong>
                    </a>
                </div>
            {% else %}
                <div class="navigation__left">
                    <a class="ps-logo" href="/">
                        <img src="{{ STATIC_PREFIX }}img/logo_light.png" alt="{{ title }}">
                    </a>
                </div>
            {% endif %}

            <div class="navigation__right">
                <div class="header__actions">
                    <div class="ps-cart--mini">
                        <a class="header__extra" href="#"><i class="icon-bag2"></i><span><i>0</i></span></a>
                    </div>

                    <div class="ps-block--user-header">
                        <div class="ps-block__left"><i class="icon-user"></i></div>
                        <div class="ps-block__right">
                            <a href="{% url "account_login" %}">Connexion</a>
                            <a href="{% url "account_signup" %}">S'inscrire</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="ps-search--mobile">
            <form class="ps-form--search-mobile" action="" method="get">
                <div class="form-group--nest">
                    <input class="form-control" type="text" placeholder="Search something...">
                    <button><i class="icon-magnifier"></i></button>
                </div>
            </form>
        </div>
    </header>

    {% if request.resolver_match.url_name == 'detail' %}
        <nav class="navigation--mobile-product">
            <a class="ps-btn ps-btn--black" href="{% url "cart" %}">Ajouter au panier</a>
            <a class="ps-btn" href="{% url "payment" %}">Acheter maintenant</a>
        </nav>
    {% endif %}

    <div class="ps-panel--sidebar" id="cart-mobile">
        <div class="ps-panel__header">
            <h3>Panier</h3>
        </div>
        <div class="navigation__content">
            <div class="ps-cart--mobile">
                <div class="ps-cart__content">
                    <div class="ps-product--cart-mobile">
                        <div class="ps-product__thumbnail">
                            <a href="#"><img src="{{ STATIC_PREFIX }}img/products/clothing/7.jpg" alt=""></a>
                        </div>
                        <div class="ps-product__content">
                            <a class="ps-product__remove" href="#"><i class="icon-cross"></i></a>
                            <a href="#">MVMTH Classical Leather Watch In Black</a>
                            <p><strong>Vendu par:</strong> YOUNG SHOP</p><small>1 x $59.99</small>
                        </div>
                    </div>
                </div>
                <div class="ps-cart__footer">
                    <h3>Sous-total:<strong>$59.99</strong></h3>
                    <figure><a class="ps-btn" href="#">Voir le panier</a>
                        <a class="ps-btn" href="#">Checkout</a>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/partials/menu_category_mobile.html" %}

    {% if not request.resolver_match.url_name == 'detail' %}
        <div class="navigation--list">
            <div class="navigation__content">
                <a class="navigation__item ps-toggle--sidebar" href="#menu-mobile">
                    <i class="icon-menu"></i><span> Menu</span>
                </a>
                
                <a class="navigation__item ps-toggle--sidebar" href="#navigation-mobile">
                    <i class="icon-list4"></i><span> Catégories</span>
                </a>

                <a class="navigation__item ps-toggle--sidebar" href="#search-sidebar">
                    <i class="icon-magnifier"></i><span> Rechercher</span>
                </a>

                <a class="navigation__item ps-toggle--sidebar" href="#cart-mobile">
                    <i class="icon-bag2"></i><span> Panier</span>
                </a>
            </div>
        </div>

        <div class="ps-panel--sidebar" id="search-sidebar">
            <div class="ps-panel__header">
                <form class="ps-form--search-mobile" action="" method="get">
                    <div class="form-group--nest">
                        <input class="form-control" type="text" placeholder="Rechercher un produit, une catégorie...">
                        <button><i class="icon-magnifier"></i></button>
                    </div>
                </form>
            </div>
            <div class="navigation__content"></div>
        </div>
    {% endif %}

    {% include "includes/partials/menu_mobile.html" %}
