<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->

<meta charset="utf-8" >
<meta http-equiv="Content-Type" content="text/html">
<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="title" content="">
<meta name="description" property="og:description" content="">
<meta name="google" content="">
<meta name="format-detection" content="telephone=no">

<meta name="keywords" content="">
<meta name="robots" content="index,follow,all">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="revisit-after" content="10 days">
<meta name="distribution" content="Global">

<!-- Twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@publisher_handle">
<meta name="twitter:creator" content="@flavien_hugs">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">
<meta name="twitter:image:alt" content="">

<!-- OpenGraph -->
<meta property="og:site_name" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:type" content="article">
<meta property="og:image" content="">
<meta property="og:image:alt" content="image/png">
<meta property="og:url" content="">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:locale" content="fr_CI">
<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<!-- Do the same thing, but with a <meta> tag -->
<!--  <meta http-equiv="Content-Security-Policy" content="default-src https:"> -->

<link rel="canonical" href="">