<meta charset="utf-8"/>
<meta http-equiv="Content-Type" content="text/html">
<meta name="format-detection" content="telephone=yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="title" content="{% if page_title %}{{ page_title }}{% else %}Vente et achat en ligne Informatiques, Électromenager, Habillement et mode, Téléphones, TV, Jeux Vidéos{% endif %}">
<meta name="description" content="LaRegina deals est une plateforme de commerce électronique de vente et d'achat au détail.">

<meta name="distribution" content="Global">
<meta name="revisit-after" content="3 days">
<meta name="keywords" content="laregina, deals, marché de gros, grand marché, supermarché, vente en ligne, côte d'ivoire, jumia deals, promotions chaudes, electronique, informatique, e-commerce, commerce électronique, bouaké, abidjan, electromenager, téléphone, tablettes loisirs et jouets">
<meta name="robots" content="follow,all">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="google-site-verification" content="{{ google_site_verification }}"/>

<!-- Twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@publisher_handle">
<meta name="twitter:creator" content="@flavien_hugs">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{% if object.description %}{{ object.description }}LaRegina Deals est la branche e-commerce de CGIC Group qui concilie au sein de ses services immobiliers et commerce{% endif %}">
<meta name="twitter:image" content="{% if object %}{{ object.get_image_url }}{% else %}{{ STATIC_PREFIX }}img/favicon.ico {% endif %}">
<meta name="twitter:image:alt" content="{{ title }}">

<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ title }}">
<meta property="og:url" content="{% if object %}{{ object.get_absolute_url }}{% else %}{{ request.get_host }} {% endif %}">
<meta property="og:title" content="{% if object.name %}{{ object.name }}{% else %}Vente et achat en ligne Informatiques, Électromenager, Habillement et mode, Téléphones, TV, Jeux Vidéos{% endif %}">
<meta property="og:image" content="{% if object %}{{ object.get_image_url }}{% else %}{{ STATIC_PREFIX }}img/favicon.ico {% endif %}">
<meta property="og:description" content="{% if object.description %}{{ object.description }}LaRegina Deals est la branche e-commerce de CGIC Group qui concilie au sein de ses services immobiliers et commerce.{% endif %}">
<meta property="og:image:alt" content="{% if object.image %}{{ object.name }}{% else %}{{ title }}{% endif %}">
<meta property="og:image:type" content="image/png">
<meta property="og:locale" content="fr_CI">

<!-- Favicon-->
<link rel="shortcut icon" href="{{ STATIC_PREFIX }}img/favicon.ico">
<link rel="canonical" href="https://{{ request.get_host }}"/>
<link rel="dns-prefetch" href="https://{{ request.get_host }}">.