{% spaceless %}
    <!DOCTYPE html>
    <html lang="fr">
        <head>
            {% load static cache %}{% get_static_prefix as STATIC_PREFIX %}
            {% include "seller_dashboard/includes/meta.html" %}
            {% include "seller_dashboard/includes/css.html" %}

            <title>
                {% block title %}
                    {% if page_title %}
                        {{ page_title|title }}
                    {% endif %} &smid; Dashboard
                {% endblock title %}
            </title>

        </head>

        <body class="d-flex flex-column">
            <div class="flex-grow-1 flex-shrink-0">
                <main class="ps-main">
                    {% include "seller_dashboard/partials/navigation.html" %}

                    {% block content %}
                    {% endblock content %}
                </main>
            </div>
            {% include "seller_dashboard/includes/javascript.html" %}
        </body>
    </html>
{% endspaceless %}