{% extends "seller_dashboard/base.html" %}

{% block content %}
    <div class="ps-main__wrapper">
        <header class="header--dashboard">
            <div class="header__left">
                <h3>Tableau de bord</h3>
            </div>

            <div class="header__center">
                <form class="ps-form--search-bar" action="#" method="get">
                    <input class="form-control" type="text" placeholder="Rechercher...">
                    <button><i class="icon-magnifier"></i></button>
                </form>
            </div>

            <div class="header__right">
                <a class="header__site-link" href="{% url "vendor-store" %}" target="_blank">
                    <span>Consulter votre boutique</span>
                    <i class="icon-exit-right"></i>
                </a>
            </div>
        </header>

        <section class="ps-dashboard">
            <div class="ps-section__left">
                <div class="ps-card">
                    <div class="ps-card__header">
                        <h4>Dernières commandes</h4>
                    </div>
                    <div class="ps-card__content">
                        <div class="table-responsive">
                            <table class="table ps-table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Date</th>
                                        <th>Produit</th>
                                        <th>Paiement</th>
                                        <th>Status</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>#A580</td>
                                        <td><strong> Aug, 15, 2020</strong></td>
                                        <td><a href="#"><strong>Unero Black Military</strong></a></td>
                                        <td><span class="ps-badge success">Payé</span></td>
                                        <td><span class="ps-fullfillment success">Livré</span></td>
                                        <td><strong>$56.00</strong></td>
                                        <td>
                                            <div class="dropdown">
                                                <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-ellipsis"></i></a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#">Modifier</a>
                                                    <a class="dropdown-item" href="#">Supprimer</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="ps-card__footer">
                        <a class="ps-card__morelink" href="#">
                            Afficher toutes les commandes <i class="icon icon-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ps-section__right">
                <section class="ps-card ps-card--statics">
                    <div class="ps-card__header">
                        <h4>Statistiques</h4>
                    </div>
                    <div class="ps-card__content">
                        <div class="ps-block--stat yellow">
                            <div class="ps-block__left"><span><i class="icon-cart"></i></span></div>
                            <div class="ps-block__content">
                                <p>Commandes</p>
                                <h4>254<small class="asc">
                                    <i class="icon-arrow-up"></i>
                                    <span>12,5%</span></small>
                                </h4>
                            </div>
                        </div>
                        <div class="ps-block--stat pink">
                            <div class="ps-block__left"><span><i class="icon-cart"></i></span></div>
                            <div class="ps-block__content">
                                <p>Revenue</p>
                                <h4>
                                    $6,260
                                    <small class="asc">
                                        <i class="icon-arrow-up"></i>
                                        <span>7.1%</span>
                                    </small>
                                </h4>
                            </div>
                        </div>
                        <div class="ps-block--stat green">
                            <div class="ps-block__left"><span><i class="icon-cart"></i></span></div>
                            <div class="ps-block__content">
                                <p>Revenue</p>
                                <h4>
                                    $2,567
                                    <small class="desc">
                                        <i class="icon-arrow-down"></i>
                                        <span>0.32%</span>
                                    </small>
                                </h4>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
{% endblock content %}
