<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/plugins/fontawesome.min.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}fonts/linearicons/demo.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/plugins/owl.carousel.min.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/plugins/select2.min.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}admin/plugins/summernote/summernote-bs4.min.css">
<link rel="stylesheet" href="{{ STATIC_PREFIX }}admin/css/admin.css">