
<nav ria-label="page navigation example" class="ps-section__footer pt-3">
	<p></p>
	{% if is_paginated %}
	    <ul class="pagination">
	    	{% if page_obj.has_previous %}
	        	<li>
	        		<a href="?page={{ page_obj.previous_page_number }}">
	        			<i class="icon icon-chevron-left"></i>
	        		</a>
	        	</li>
	        {% endif %}

	        {% for obj in paginator.page_range %}
				{% if page_obj.number == obj %}
					<li class="{% if obj %} active {% endif %}">
						<a href="?page={{ obj }}">{{ obj }}</a>
					</li>
				{% else %}
					<li>
						<a href="?page={{ obj }}">{{ obj }}</a>
					</li>
				{% endif %}
			{% endfor %}

			{% if page_obj.has_next %}
				<li>
					<a href="?page={{ page_obj.next_page_number }}">
						<i class="icon-chevron-right">
					</a>
				</li>
			{% endif %}
	    </ul>
    {% endif %}
</nav>
