{% load humanize %}
{% url "account_logout" as deconnexion %}
{% url "seller:order_list" as seller_order_list %}
{% url "seller:product_list" as seller_product_list %}

<div class="ps-main__sidebar">
    <div class="ps-sidebar">
        <div class="ps-sidebar__top">
            <div class="ps-block--user-wellcome">
                <div class="ps-block__left">
                </div>
                <div class="ps-block__right">
                    <p>Bonjour, <a>
                    {{ request.user.get_fullname|truncatewords:"5" }}</a></p>
                </div>
            </div>

            <div class="ps-block--earning-count">
                <small>Cash</small>
                <h4>{{ cash_total_seller|intcomma }} Fr</h4>
            </div>
        </div>

        <div class="ps-sidebar__content">
            <div class="ps-sidebar__center">
                <ul class="menu">
                    <li>
                        <a class="{% if request.resolver_match.url_name == 'profile' %}
                        active{% endif %}" href="{% url 'seller:profile' %}">
                        <i class="icon-home"></i>Tableau de bord</a>
                    </li>

                    <li><a class="{% if request.resolver_match.url_name == 'order_list' or request.resolver_match.url_name == 'order_detail' %}active{% endif %}"
                        href="{{ seller_order_list }}"><i class="icon-bag2"></i>Mes Commandes</a></li>

                    <li><a class="{% if request.resolver_match.url_name == 'product_list' or request.resolver_match.url_name == 'product_create' or request.resolver_match.url_name == 'product_update' or request.resolver_match.url_name == 'product_delete' %}
                        active {% endif %}" href="{{ seller_product_list }}">
                        <i class="icon-database"></i>Mes Produits</a></li>

                    <li><a class="{% if request.resolver_match.url_name == 'order_list' or request.resolver_match.url_name == 'order_detail' %}active{% endif %}"
                        href="{{ seller_order_list }}"><i class="icon-percent-circle"></i>Promotions</a>
                    </li>

                    <hr class="pt-2 pb-2 mx-2">
                    
                    <li><a class="{% if request.resolver_match.url_name == 'update' %}active{% endif %}"
                        href="{{ request.user.get_update_url }}"><i class="icon-cog"></i>Réglages</a></li>

                    <li><a target="_blank" href="{{ request.user.get_absolute_url }}">
                        <i class="icon-exit-right"></i>Ma boutique</a></li>

                    <hr class="pt-2 pb-2 mx-2">

                    <li>
                        <a href="{{ deconnexion }}">
                            <i class="icon-exit"></i>
                            Deconnexion
                        </a>
                    </li>
                </ul>

                <div class="ps-sidebar__footer">
                    <div class="ps-copyright">
                        <p>&copy;2020 {{ title }} marketplace. <br/> All rights reversed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>