{% extends "dashboard/seller/base.html" %}
{% load crispy_forms_tags mptt_tags %}

{% block block_extra_breadcrumb %}
    {% url "seller:product_list" as seller_list_product %}

    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{{ seller_list_product }}" class="btn btn-sm btn-secondary d-inline-flex align-items-center">
            <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg> retour
        </a>
    </div>
{% endblock block_extra_breadcrumb %}

{% block block_header_navbar %}
{% endblock block_header_navbar %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-xl-10">
            <div class="card border-0 shadow mb-4">
                <div class="card-header mx-lg-4 p-0 py-3 py-lg-4 mb-4 mb-md-0">
                    <h3 class="h5 mb-0 fw-extrabold">
                        {% block settings_title %}
                            {{ page_title|capfirst }}
                        {% endblock settings_title %}
                    </h3>
                </div>

                {% include "dashboard/seller/includes/_partials_form.html" %}
            </div>
        </div>
    </div>
{% endblock content %}


