{% extends "dashboard/seller/base.html" %}
{% load humanize %}

{% block content %}
    <div class="ps-main__wrapper">
        <header class="header--dashboard">
            <div class="header__left">
                <h3>#{{ object.transaction_id }}</h3>
                <p>Détail de la commande #{{ object.transaction_id }}</p>
                <p>Status de la commande: <strong>{{ object.status }}</strong></p>
            </div>
        </header>

        <section class="ps-dashboard">
            <div class="ps-section__left">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ps-card ps-card--order-information ps-card--small">
                            <div class="ps-card__header">
                                <h4>Informations sur la livraison</h4>
                            </div>
                            <div class="ps-card__content">
                                <h5>{{ object.get_full_name }}</h5>
                                <p>
                                    <strong>Adresse: </strong>
                                    {{ object.get_shipping_delivery_for_seller }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ps-card ps-card--track-order">
                    <div class="ps-card__content">
                        <div class="table-responsive">
                            <table class="table ps-table">
                                <thead>
                                    <tr>
                                        <th>Produit</th>
                                        <th>Quantité</th>
                                        <th>Prix</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for object in object.order_items %}
                                        <tr>
                                            <td>
                                                {{ object.get_product_name|truncatewords:'10' }}
                                                &smid; <b>{{ object.get_store_name }}</b>
                                            </td>
                                            <td>{{ object.quantity }}</td>
                                            <td>{{ object.get_product_price }}</td>
                                            <td>{{ object.total|intcomma }} Fr</td>
                                        </tr>
                                    {% endfor %}

                                    <tr>
                                        <td colspan="3"><strong>Commission {{ title }}:</strong></td>
                                        <td><strong>5% (-{{ object.get_cost|intcomma }})</strong></td>
                                    </tr>

                                    <tr>
                                        <td colspan="3"><strong>Total:</strong></td>
                                        <td><strong>{{ object.total_order|intcomma }} Fr</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ps-section__right">
                <div class="ps-card ps-card--track-order">
                    <div class="ps-card__header">
                        <h4>Suivi de la commande</h4>
                    </div>
                    <div class="ps-card__content">
                        <div class="ps-block--track-order">
                            <div class="ps-block__header">
                                <div class="row">
                                    <div class="col-12">
                                        <figure>
                                            <figcaption>Numéro de suivi:</figcaption>
                                            <p>#{{ object.transaction_id }}</p>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="ps-block__content">
                                <div class="ps-block__timeline">
                                    <figure class="active">
                                        <figcaption>Commande passée</figcaption>
                                        <p>{{ object.date }}</p>
                                    </figure>
                                    <figure class="active">
                                        <figcaption>Emballé</figcaption>
                                        <p>Emballage estimé sous 24H</p>
                                    </figure>
                                    <figure class="active">
                                        <figcaption>Expédié</figcaption>
                                        <p>Expédition estimée sous 1 jour</p>
                                    </figure>
                                    <figure>
                                        <figcaption>Livré</figcaption>
                                        <p>Livraison estimée sous 02 jours</p>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
