{% extends "dashboard/seller/base.html" %}

{% load humanize %}

{% block content %}
    <div class="ps-main__wrapper">
        <header class="header--dashboard mb-2">
            <div class="header__left">
                <h3>Commandes</h3>
                <p>Liste de vos commandes</p>
            </div>
        </header>

        <section class="ps-items-listing">
            <div class="ps-section__header simple">
                <div class="ps-section__filter">
                    <form class="ps-form--filter" action="#" method="get">
                        <div class="ps-form__left">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Rechercher une commande...">
                            </div>
                        </div>
                        <div class="ps-form__right">
                            <button class="ps-btn ps-btn--gray">Chercher</button>
                        </div>
                    </form>
                </div>
                <div class="ps-section__actions">
                    <a class="ps-btn ps-btn--gray" href="#"><i class="icon icon-download2 mr-2"></i>Exporter</a>
                </div>
            </div>

            <div class="ps-section__content">
                {% if order_object_list %}
                    <div class="table-responsive">
                        <table class="table ps-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>ID</th>
                                    <th>Total</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in order_object_list %}
                                    {% include "dashboard/seller/includes/_snippet_order_table.html" %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if order_object_list.count >= 10 %}
                        {% include "dashboard/seller/includes/_partials_pagination.html" %}
                    {% endif %}
                {% else %}
                    <div class="text-center py-2">
                        <span class="d-flex justify-content-center">
                            <img class="img-fluid" height="160" width="160"
                            srcset="{{ STATIC_PREFIX }}img/emptycart.png"
                            src="{{ STATIC_PREFIX }}img/emptycart.png" alt="empty-cart-{{ page_title }}">
                        </span>

                        <p class="font-weight-bold">Vous n'avez aucune commande pour l'instant.</p>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock content %}