{% extends "dashboard/seller/base.html" %}
{% load humanize %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block block_header_navbar %}

{% endblock block_header_navbar %}

{% block content %}
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-xl-10">
            <div class="card shadow border-0 p-4 p-md-5 position-relative">
                <div class="d-flex justify-content-between pb-4 pb-md-5 mb-4 mb-md-5 border-bottom border-light">
                    <img
                        class="image-md"
                        src="{{ request.user.get_logo_url }}"
                        alt="{{ request.user.store|slugify|safe }}"
                        width="80" height="80"
                    >
                    <div>
                        <h4>{{ request.user.store }}</h4>
                        <ul class="list-group simple-list">
                            <li class="list-group-item fw-normal">
                                {{ request.user.shipping_adress }}
                            </li>
                            <li class="list-group-item fw-normal">
                                {{ request.user.shipping_city }}, {{ request.user.shipping_country.name }}
                            </li>
                            <li class="list-group-item fw-normal">
                                <span class="fw-extrabold text-primary">
                                    {{ request.user.email }}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="mb-4 text-center border-bottom">
                    <h2 class="h1 fw-extrabold mb-0">Facture #{{ object.transaction_id }}</h2>
                    <p class="badge badge-lg bg-success my-3">{{ object.status|upper|safe }}</p>
                </div>

                <div class="row justify-content-between mb-4 mb-md-4">
                    <div class="col-sm">
                        <h5>Information sur le client:</h5>
                        <div>
                            <ul class="list-group simple-list">
                                <li class="list-group-item fw-extrabold">
                                    {{ object.get_full_name|upper }}
                                </li>
                                <li class="list-group-item fw-normal">
                                    {{ object.get_shipping_delivery_for_seller|safe }}
                                </li>
                                <li class="list-group-item fw-normal">
                                    <span class="fw-extrabold text-primary">
                                        {{ object.email|safe }}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm col-lg-5">
                        <dl class="row text-sm-right">
                            <dt class="col-6">Commandé le:</dt>
                            <dd class="col-6">{{ object.date|date:"SHORT_DATE_FORMAT" }}</dd>
                        </dl>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead class="bg-light border-top">
                                    <tr>
                                        <th scope="row" class="border-0 text-left">produit</th>
                                        <th scope="row" class="border-0">qté</th>
                                        <th scope="row" class="border-0">prix</th>
                                        <th scope="row" class="border-0">sous-total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in object.order_items %}
                                        <tr>
                                            <th scope="row" class="text-left fw-bold h6">
                                                {{ item.get_product_name|safe }} &smid;
                                                <b>{{ item.get_store_name|safe }}</b>
                                            </th>
                                            <td>{{ item.quantity|intcomma }}</td>
                                            <td>{{ item.get_product_price }}</td>
                                            <td>{{ item.total|intcomma }} Fr CFA</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="d-flex justify-content-end text-right mb-3 py-3">
                            <div class="mt-4">
                                <table class="table table-clear">
                                    <tbody>
                                        <tr>
                                            <td class="left">
                                                Commission <b>(5%)</b>
                                            </td>
                                            <td class="right">-{{ object.get_cost|intcomma }} Fr</td>
                                        </tr>

                                        <tr class="text-uppercase fw-extrabold">
                                            <td class="left">total</td>
                                            <td class="right">{{ object.total_order|intcomma }} fr cfa</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <span class="fw-extrabold">{{ email_info|safe }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
