{% extends "base.html" %}

{% block content %}
    <div class="ps-page--404">
        <div class="container">
            <div class="ps-section__content">
                <img loading="lazy" src="{{ STATIC_PREFIX }}img/404.jpg" alt="{{ page_title }}">
                <h3>Ooops ! Quelques choses c'est mal passé - {{ page_title }}.</h3>
                <p>
                    Aller à la <a href="/"> page d'acueil.</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
