{% extends "base.html" %}

{% block content %}
    {% url 'home' as home_url %}
    <div class="ps-page--404">
        <div class="container">
            <div class="ps-section__content">
                <img src="{{ STATIC_PREFIX }}img/404.jpg" alt="{{ page_title }}">
                <h3>ohh! Page non trouvée - {{ page_title  }}</h3>
                <p>Il semble que nous ne trouvons pas ce que vous cherchez.
                    Aller à la <a href="{{ home_url }}"> page d'acueil.</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
