{% extends "base.html" %}

{% load cache %}

{% block content %}
    {% cache 120 error404 %}
        <div class="ps-page--404">
            <div class="container">
                <div class="ps-section__content">
                    <img src="{{ STATIC_PREFIX }}img/404.jpg" alt="{{ page_title }}">
                    <h3>ohh! Page non trouvée - {{ page_title  }}</h3>
                    <p>Il semble que nous ne trouvons pas ce que vous cherchez.
                        Retounez à <a href="{{ request.META.HTTP_REFERER }}"> la page précédente.</a>
                    </p>
                </div>
            </div>
        </div>
    {% endcache %}
{% endblock content %}