<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static cache %}{% get_static_prefix as STATIC_PREFIX %}
        {% cache 120 meta_and_css_file %}
            {% include "includes/meta.html" %}
        {% endcache %}
        {% include "includes/css.html" %}

        <title>Document</title>

    </head>

    <body>
        {% include "includes/header.html" %}

        <main class="homepage-1">
            {% include "includes/banner.html" %}
        </main>

        {% include "includes/javascript.html" %}
    </body>
</html>
