{% spaceless %}
    <!DOCTYPE html>
    <html lang="fr">
        <head>
            {% load static cache %}{% get_static_prefix as STATIC_PREFIX %}

            {% cache 120 meta request.user.pk|default_if_none:"0" %}
                {% include "includes/meta.html" %}
            {% endcache %}

            {% include "includes/assets/css.html" %}

            <title>
                {% block title %}
                    {% if page_title %}
                        {{ page_title|title }}
                    {% else %}
                        {{ desc }}
                    {% endif %}
                {% endblock title %} &smid; {{ title }}
            </title>

        </head>

        <body class="d-flex flex-column">
            <div class="flex-grow-1 flex-shrink-0">
                <main class="ps-page--single">
                    <!-- mise en cache du header pendant 120ms -->
                    {% cache 120 header request.user.pk|default_if_none:"0" %}
                        {% include "includes/header.html" %}
                    {% endcache %}

                    {% block content %}
                    {% endblock content %}
                </main>

                <!-- mise en cache du header pendant 120ms -->
                {% cache 120 footer request.user.pk|default_if_none:"0" %}
                    {% include "includes/footer.html" %}
                {% endcache %}
            </div>

            {% include "includes/assets/javascript.html" %}
        </body>
    </html>
{% endspaceless %}
