<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static cache %}{% get_static_prefix as STATIC_PREFIX %}
        {% cache 120 meta_and_css_file %}
            {% include "includes/meta.html" %}
        {% endcache %}
        {% include "includes/assets/css.html" %}

        <title>Vendito</title>

    </head>

    <body class="d-flex flex-column">
        <div class="flex-grow-1 flex-shrink-0">
            {% include "includes/header.html" %}

            <main class="homepage-1">
                {% block content %}
                {% endblock content %}
            </main>
            {% include "includes/footer.html" %}
        </div>

        {% include "includes/assets/javascript.html" %}
    </body>
</html>
