{% extends "base.html" %}
{% load cache static mptt_tags pages_tags catalogue_tags %}
{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
    {% url "pages:contact" as contact %}
    {% url "auth_views:account_signup" as signup %}
    {% url "vendor:store_list_view" as store_list_view %}
    {% url "delivery:delivery_register" as delivery_register %}

    {% full_tree_for_model category.Category as categories %}

    <div id="page-wrapper" class="pb-4" data-background="{{ STATIC_PREFIX }}img/bf.png">
        <section class="ps-home-banner">
            <div class="container px-0">
                <div class="ps-section__left" role="menu">
                    <ul class="menu--dropdown">
                        {% include "includes/partials/_partials_menu_category.html" %}
                    </ul>
                </div>

                {% hero_slider_list 5 %}

                <div class="ps-section__right">
                    <aside class="widget widget_product widget_features bg-white p-4 mb-3">
                        <p>
                            <i class="icon-store text-success"></i>
                            <a href="{{ signup }}">
                                Vendez sur LaRegina <br>
                                <span>Ouvrez votre boutique</span>
                            </a>
                        </p>
                        <p>
                            <i class="icon-telephone text-success"></i>
                            Commandez au <br>
                            <span>{{ contact_four }}</span>
                        </p>
                        <p>
                            <i class="icon-bubbles text-success"></i>
                            Centre d'assistance <br>
                            Guide du service client
                        </p>
                    </aside>

                    <a class="ps-collection" href="{{ delivery_register }}">
                        <img loading="lazy" src="{{ STATIC_PREFIX }}img/laregina-distributeur-homepage.jpg" alt="distributeur-produit-laregina">
                    </a>
                </div>
            </div>
        </section>

        {% cache 300 combine_page %}

            {% best_selling_products 20 %}

            {% if promotions.exists %}
                {% for object in promotions|slice:":1" %}
                    {% if object.get_products.exists %}
                        <section class="ps-deal-of-day container bg-white mt-3 pb-3">
                            <div class="ps-section__header py-4 mb-3">
                                <h3>{{ object.campaign.name }}</h3>
                                <a class="font-weight-bolder" href="{{ object.campaign.get_absolute_url }}">Voir plus</a>
                            </div>

                            <div class="ps-section__content pt-4">
                                <div class="ps-carousel--nav owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000"
                                    data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="5" data-owl-item-xs="2"
                                    data-owl-item-sm="3" data-owl-item-md="4" data-owl-item-lg="4" data-owl-item-xl="5" data-owl-duration="1000"
                                    data-owl-mousedrag="on">
                                    {% for instance in object.get_products %}
                                        {% include "catalogue/snippet/_snippet_product.html" with instance=instance %}
                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <section class="ps-deal-of-day container bg-white p-3 my-3">
                <div class="ps-section__content">
                    <div class="row">
                        {% for cat in categories|slice:":2"|shuffle %}
                            <div class="col-xl-6 col-lg-6 col-sm-12 col-12 mb-lg-0 mb-4">
                                <a href="{{ cat.get_absolute_url }}">
                                    <img loading="lazy" src="{{ cat.get_image_url }}" alt="{{ cat.name|slugify }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

            {% recursetree categories %}
                {% if node.get_products.exists and node.products_count > 1 %}
                    <section class="ps-deal-of-day container bg-white mt-3 pb-3">
                            <div class="ps-section__header py-4 mb-3">
                                <h3>{{ node.name|safe }}</h3>
                                <a class="font-weight-bolder" href="{{ node.get_absolute_url }}">Voir plus</a>
                            </div>

                            <div class="ps-section__content pt-4">
                                <div class="ps-carousel--nav owl-slider" data-owl-auto="true" data-owl-loop="true"
                                    data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false"
                                    data-owl-item="5" data-owl-item-xs="2" data-owl-item-sm="3" data-owl-item-md="4"
                                    data-owl-item-lg="4" data-owl-item-xl="5" data-owl-duration="1000" data-owl-mousedrag="on">
                                    {% for object in node.get_products %}
                                        {% include "catalogue/snippet/_snippet_product.html" with instance=object %}
                                    {% endfor %}
                                </div>
                            </div>
                    </section>
                {% endif %}
            {% endrecursetree %}

        {% endcache %}

        {% if recently_viewed %}
            <section class="ps-deal-of-day container bg-white py-4 mt-3">
                <div class="ps-section__header py-4 mb-3">
                    <h3>Vus récemment</h3>
                </div>

                <div class="ps-section__content pt-4">
                    <div class="ps-carousel--nav owl-slider" data-owl-auto="true" data-owl-loop="true"
                        data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false"
                        data-owl-item="5" data-owl-item-xs="2" data-owl-item-sm="3" data-owl-item-md="4"
                        data-owl-item-lg="4" data-owl-item-xl="5" data-owl-duration="1000" data-owl-mousedrag="on">
                        {% for instance in recently_viewed|slice:'0:25' %}
                            {% include "catalogue/snippet/_snippet_product.html" with instance=instance %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}

        {% testimonial_list 5 %}

        <section class="container bg-white py-5 mt-3 mb-3">
            <h4 class="h5">
                Bienvenue sur {{ title }}, votre boutique de vente qui à votre disposition vos articles de première nécessité !
            </h4>

            <p>Profitez de votre supermarché qui vous propose tout ce dont vous avez besoin pour vivre quotidiennement à l’aise !</p>

            <figure>
                <figcaption><strong>{{ title }}</strong></figcaption>
                <p>vous propose une variété de produits large choix de produits de haute qualité. Ce qui fait la force de {{ title }}, c’est d’abord l’excellent rapport qualité/prix de ses appareils mobiles : Téléphones &amp; Tablettes, Télévisions ainsi que les appareils électroménagers tels que les réfrigérateurs et congélateurs, des climatiseurs, et bien plus encore. Retrouvez la liste de nos meilleures marques et boutiques officielles en faisant un tour sur notre site de vêtements en ligne, des chaussures, des produits de beauté et l'univers des meilleurs maquillages femme à moindre coût prix pas cher.</p>
            </figure>
        </section>
    </div>
{% endblock content %}
