{% extends "base.html" %}
{% load static %}{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
    <div class="ps-page--single">
        <div class="ps-vendor-banner bg--cover" data-background="{{ STATIC_PREFIX }}img/bg/vendor.jpg">
            <div class="container">
                <h2>Des millions d'acheteurs ont hâte de voir ce que vous avez en magasin</h2><a class="ps-btn ps-btn--lg" href="#">Commencer à vendre</a>
            </div>
        </div>
        <div class="ps-section--vendor ps-vendor-about">
            <div class="container">
                <div class="ps-section__header">
                    <p>POURQUOI VENDRE SUR LaRegina</p>
                    <h4>Rejoignez un marché où près de 50 millions d'acheteurs <br> du monde entier achètent des articles uniques</h4>
                </div>
                <div class="ps-section__content">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                            <div class="ps-block--icon-box-2">
                                <div class="ps-block__thumbnail"><img src="{{ STATIC_PREFIX }}img/icons/vendor-1.png" alt=""></div>
                                <div class="ps-block__content">
                                    <h4>Frais bas</h4>
                                    <div class="ps-block__desc" data-mh="about-desc">
                                        <p>Il ne faut pas grand-chose pour lister vos articles et une fois que vous faites une vente, les frais de transaction de laregina ne sont que de 2,5%.</p>
                                    </div><a href="#">Apprendre encore plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                            <div class="ps-block--icon-box-2">
                                <div class="ps-block__thumbnail"><img src="{{ STATIC_PREFIX }}img/icons/vendor-2.png" alt=""></div>
                                <div class="ps-block__content">
                                    <h4>Des outils puissants</h4>
                                    <div class="ps-block__desc" data-mh="about-desc">
                                        <p>Nos outils et services facilitent la gestion, la promotion et la croissance de votre entreprise.</p>
                                    </div><a href="#">Apprendre encore plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                            <div class="ps-block--icon-box-2">
                                <div class="ps-block__thumbnail"><img src="{{ STATIC_PREFIX }}img/icons/vendor-3.png" alt=""></div>
                                <div class="ps-block__content">
                                    <h4>Assistance 24/7</h4>
                                    <div class="ps-block__desc" data-mh="about-desc">
                                        <p>Nos outils et services facilitent la gestion, la promotion et la croissance de votre entreprise.</p>
                                    </div><a href="#">Apprendre encore plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-section--vendor ps-vendor-milestone">
            <div class="container">
                <div class="ps-section__header">
                    <p>COMMENT ÇA FONCTIONNE</p>
                    <h4>Facile de commencer à vendre en ligne sur Martfury en seulement 4 étapes simples</h4>
                </div>
                <div class="ps-section__content">
                    <div class="ps-block--vendor-milestone">
                        <div class="ps-block__left">
                            <h4>Enregistrez et listez vos produits</h4>
                            <ul>
                                <li>Enregistrez votre entreprise gratuitement et créez un catalogue de produits. Obtenez une formation gratuite sur la gestion de votre entreprise en ligne</li>
                                <li>Nos conseillers Martfury vous aideront à chaque étape et vous assisteront pleinement dans la mise en ligne de votre entreprise</li>
                            </ul>
                        </div>
                        <div class="ps-block__right"><img src="{{ STATIC_PREFIX }}img/vendor/milestone-1.png" alt=""></div>
                        <div class="ps-block__number"><span>1</span></div>
                    </div>
                    <div class="ps-block--vendor-milestone reverse">
                        <div class="ps-block__left">
                            <h4>Recevez des commandes et vendez votre produit</h4>
                            <ul>
                                <li>Enregistrez votre entreprise gratuitement et créez un catalogue de produits. Obtenez une formation gratuite sur la gestion de votre entreprise en ligne</li>
                                <li>Nos conseillers Martfury vous aideront à chaque étape et vous assisteront pleinement dans la mise en ligne de votre entreprise</li>
                            </ul>
                        </div>
                        <div class="ps-block__right"><img src="{{ STATIC_PREFIX }}img/vendor/milestone-2.png" alt=""></div>
                        <div class="ps-block__number"><span>2</span></div>
                    </div>
                    <div class="ps-block--vendor-milestone">
                        <div class="ps-block__left">
                            <h4>Emballez et expédiez facilement</h4>
                            <ul>
                                <li>Enregistrez votre entreprise gratuitement et créez un catalogue de produits. Obtenez une formation gratuite sur la gestion de votre entreprise en ligne</li>
                                <li>Nos conseillers Martfury vous aideront à chaque étape et vous assisteront pleinement dans la mise en ligne de votre entreprise</li>
                            </ul>
                        </div>
                        <div class="ps-block__right"><img src="{{ STATIC_PREFIX }}img/vendor/milestone-3.png" alt=""></div>
                        <div class="ps-block__number"><span>3</span></div>
                    </div>
                    <div class="ps-block--vendor-milestone reverse">
                        <div class="ps-block__left">
                            <h4>Emballez et expédiez facilement</h4>
                            <ul>
                                <li>Enregistrez votre entreprise gratuitement et créez un catalogue de produits. Obtenez une formation gratuite sur la gestion de votre entreprise en ligne</li>
                                <li>Nos conseillers Martfury vous aideront à chaque étape et vous assisteront pleinement dans la mise en ligne de votre entreprise</li>
                            </ul>
                        </div>
                        <div class="ps-block__right"><img src="{{ STATIC_PREFIX }}img/vendor/milestone-4.png" alt=""></div>
                        <div class="ps-block__number"><span>4</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-section--vendor ps-vendor-best-fees">
            <div class="container">
                <div class="ps-section__header">
                    <p>MEILLEURS FRAIS POUR COMMENCER</p>
                    <h4>Abordable, transparent et sécurisé</h4>
                </div>
                <div class="ps-section__content">
                    <h5>Cela ne coûte rien de répertorier jusqu'à 50 articles par mois, et vous ne payez qu'une fois vos articles vendus. C'est juste un petit pourcentage de l'argent que vous gagnez</h5>
                    <div class="ps-section__numbers">
                        <figure>
                            <h3>0Fr</h3><span>Frais de liste</span>
                        </figure>
                        <figure>
                            <h3>5%</h3><span>Commission du prix final</span>
                        </figure>
                    </div>
                    <div class="ps-section__desc">
                        <figure>
                            <figcaption>Voici ce que vous obtenez pour vos frais:</figcaption>
                            <ul>
                                <li>Une communauté mondiale de plus de 160 millions d'acheteurs.</li>
                                <li>Des étiquettes d'expédition que vous pouvez imprimer à la maison, avec de gros rabais sur les frais de port.</li>
                                <li>Protection des vendeurs et assistance client pour vous aider à vendre vos produits.</li>
                            </ul>
                        </figure>
                    </div>
                    <div class="ps-section__highlight"><img src="{{ STATIC_PREFIX }}img/icons/vendor-4.png" alt="">
                        <figure>
                            <p>Nous traitons les paiements avec CinetPay, une plateforme de paiement externe qui vous permet de traiter les transactions avec une variété de méthodes de paiement. Les fonds provenant des ventes CinetPay sur Laregina seront déposés sur votre compte CinetPay.</p>
                        </figure>
                    </div>
                    <div class="ps-section__footer">
                        <p>Les frais d'inscription sont facturés 0,20 Fr CFA, donc si la devise de votre banque n'est pas USD, le montant dans votre devise peut varier en fonction des variations du taux de change.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-section--vendor ps-vendor-testimonials">
            <div class="container">
                <div class="ps-section__header">
                    <p>HISTOIRES DE VENDEURS</p>
                    <h4>Voir le partage du vendeur sur son succès sur LaRegina</h4>
                </div>
                <div class="ps-section__content">
                    <div class="ps-carousel--nav owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="true" data-owl-item="2" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="2" data-owl-duration="1000" data-owl-mousedrag="on">
                        <div class="ps-block--testimonial">
                            <div class="ps-block__header"><img src="{{ STATIC_PREFIX }}img/users/1.jpg" alt=""></div>
                            <div class="ps-block__content"><i class="icon-quote-close"></i>
                                <h4>Kanye West<span>Head Chef at BBQ Restaurant</span></h4>
                                <p>Sed elit quam, iaculis sed semper sit amet udin vitae nibh. at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</p>
                            </div>
                        </div>
                        <div class="ps-block--testimonial">
                            <div class="ps-block__header"><img src="{{ STATIC_PREFIX }}img/users/2.png" alt=""></div>
                            <div class="ps-block__content"><i class="icon-quote-close"></i>
                                <h4>Anabella Kleva<span>Boss at TocoToco</span></h4>
                                <p>Sed elit quam, iaculis sed semper sit amet udin vitae nibh. at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</p>
                            </div>
                        </div>
                        <div class="ps-block--testimonial">
                            <div class="ps-block__header"><img src="{{ STATIC_PREFIX }}img/users/3.jpg" alt=""></div>
                            <div class="ps-block__content"><i class="icon-quote-close"></i>
                                <h4>William Roles<span>Head Chef at BBQ Restaurant</span></h4>
                                <p>Sed elit quam, iaculis sed semper sit amet udin vitae nibh. at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-section--vendor ps-vendor-faqs">
            <div class="container">
                <div class="ps-section__header">
                    <p>QUESTIONS FRÉQUEMMENT POSÉES</p>
                    <h4>Voici quelques questions courantes sur la vente sur LaRegina</h4>
                </div>
                <div class="ps-section__content">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                            <figure>
                                <figcaption>Comment fonctionnent les frais sur Laregina ?</figcaption>
                                <p>Rejoindre et démarrer une boutique sur Martfury est gratuit. Il existe trois frais de vente de base: des frais d'inscription, des frais de transaction et des frais de traitement des paiements.</p>
                                <p>Il en coûte 0,20 USD pour publier une annonce sur le marché. Une liste dure quatre mois ou jusqu'à ce que l'article soit vendu. Une fois qu'un article est vendu, des frais de transaction de 3,5% s'appliquent sur le prix de vente (hors frais de port). Si vous acceptez les paiements avec PayPal, des frais de traitement des paiements sont également facturés en fonction de leur structure de frais</p>
                                <p>Les frais d'inscription sont facturés 0,20 USD. Par conséquent, si la devise de votre banque n'est pas USD, le montant peut différer en fonction des variations du taux de change.</p>
                            </figure>
                            <figure>
                                <figcaption>Que dois-je faire pour créer une boutique?</figcaption>
                                <p>Il est facile de créer une boutique sur Martfury. Créez un compte Martfury (si vous n'en avez pas déjà un), définissez l'emplacement et la devise de votre boutique, choisissez un nom de boutique, créez une liste, définissez un mode de paiement (comment vous souhaitez être payé) et enfin définissez un mode de facturation (comment vous voulez payer vos Martfuryfees).</p>
                            </figure>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                            <figure>
                                <figcaption>Comment suis-je payé?</figcaption>
                                <p>Si vous acceptez les paiements avec PayPal, les fonds provenant des ventes PayPal sur Martfury seront déposés sur votre compte PayPal. Nous encourageons les vendeurs à utiliser un compte PayPal Business et non un compte personnel, car les comptes personnels sont soumis à des limites de réception mensuelles et ne peuvent pas accepter les paiements d'acheteurs financés par une carte de crédit.</p>

                                <p>Il en coûte 0,20 USD pour publier une annonce sur le marché. Une liste dure quatre mois ou jusqu'à ce que l'article soit vendu. Une fois qu'un article est vendu, des frais de transaction de 3,5% s'appliquent sur le prix de vente (hors frais de port). Si vous acceptez les paiements avec PayPal, des frais de traitement des paiements sont également facturés en fonction de leur structure de frais.</p>

                                <p>Les frais d'inscription sont facturés 0,20 USD. Par conséquent, si la devise de votre banque n'est pas USD, le montant peut différer en fonction des variations du taux de change.</p>
                            </figure>
                            <figure>
                                <figcaption>
                                Ai-je besoin d'une carte de crédit ou de débit pour créer une boutique?</figcaption>
                                <p>Non, une carte de crédit ou de débit n'est pas nécessaire pour créer une boutique. Pour être vérifié en tant que vendeur, vous avez le choix d'utiliser une carte de crédit ou de vous inscrire via PayPal. Vous n'aurez aucun frais jusqu'à ce que vous ouvriez votre boutique et publiez vos annonces.</p>
                            </figure>
                            <figure>
                                <figcaption>Que puis-je vendre sur Martfury?</figcaption>
                                <p>Martfury fournit un marché aux artisans, artistes et collectionneurs pour vendre leurs créations faites à la main, des produits vintage (au moins 20 ans) et des fournitures d'artisanat faites à la main et non à la main.</p>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="ps-section__footer">
                    <p>Vous avez encore d'autres questions? N'hésitez pas à nous contacter.</p>
                    <a class="ps-btn" href="#">Nous contacter</a>
                </div>
            </div>
        </div>
        <div class="ps-vendor-banner bg--cover" data-background="{{ STATIC_PREFIX }}img/bg/vendor.jpg">
            <div class="container">
                <h2>Il est temps de commencer à gagner de l'argent.</h2>
                <a class="ps-btn ps-btn--lg" href="#">Commencer à vendre</a>
            </div>
        </div>
    </div>
{% endblock content %}
