{% extends "base.html" %}

{% load humanize static mptt_tags pages_tags catalogue_tags %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/organic.css">
{% endblock stylesheet %}

{% block content %}
	<div id="homepage-9" class="pb-4">
		<section class="ps-home-banner">
			<div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true"
			    data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0"
			    data-owl-nav="true" data-owl-dots="true" data-owl-item="1"
			    data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1"
			    data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on"
			    data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">
				<div class="ps-banner--organic" data-background="{{ STATIC_PREFIX }}img/slider/1.jpg">
					<img loading="lazy" src="{{ STATIC_PREFIX }}img/slider/1.jpg" alt="">
					<div class="ps-banner__content">
						<h3 class="font-weight-bold">Votre marché <br /> en un clic</h3>
						<a class="ps-btn text-uppercase" href="#categories">acheter maintenant</a>
					</div>
				</div>
				<div class="ps-banner--organic" data-background="{{ STATIC_PREFIX }}img/slider/2.jpg">
					<img loading="lazy" src="{{ STATIC_PREFIX }}img/slider/2.jpg" alt="">
					<div class="ps-banner__content">
						<h3 class="font-weight-bold">
							Trouver ce dont vous avez besoin
							<br/>pour votre ménage
						</h3>
						<a class="ps-btn text-uppercase" href="#subcategories">découvrir</a>
					</div>
				</div>
			</div>
		</section>

		<section class="ps-site-features">
            <div class="container">
                <div class="ps-block--site-features ps-block--site-features-2">
                    <div class="ps-block__item">
                        <div class="ps-block__left"><i class="icon-rocket"></i></div>
                        <div class="ps-block__right">
                            <h4>Livraison gratuite</h4>
                            <p>Dans toute la ville</p>
                        </div>
                    </div>
                    <div class="ps-block__item">
                        <div class="ps-block__left"><i class="icon-sync"></i></div>
                        <div class="ps-block__right">
                            <h4>Retour possible</h4>
                            <p>En de problèmes</p>
                        </div>
                    </div>
                    <div class="ps-block__item">
                        <div class="ps-block__left"><i class="icon-credit-card"></i></div>
                        <div class="ps-block__right">
                            <h4>Paiement sécurisé</h4>
                            <p>Paiement 100% sécurisé</p>
                        </div>
                    </div>
                    <div class="ps-block__item">
                        <div class="ps-block__left"><i class="icon-bubbles"></i></div>
                        <div class="ps-block__right">
                            <h4>Assistance 24/7</h4>
                            <p>Support dédié</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% for object in farm %}
	        {% if object.get_products.exists %}
		        <section class="ps-deal-of-day container bg-white mt-2 pb-2">
		        	<div class="ps-section__header py-4 mb-3">
		        		<h3>{{ object.name|safe }}</h3>
		        		<a class="font-weight-bolder" href="{{ object.get_absolute_url }}">Voir plus</a>
		        	</div>

		        	<div class="ps-section__content pt-4">
		        		<div class="ps-carousel--nav owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="5" data-owl-item-xs="2" data-owl-item-sm="3" data-owl-item-md="4" data-owl-item-lg="4" data-owl-item-xl="5" data-owl-duration="1000" data-owl-mousedrag="on">
		        			{% for instance in object.get_products %}
		        				{% include "catalogue/snippet/_snippet_product.html" with instance=instance %}
		        			{% endfor %}
		        		</div>
		        	</div>
		        </section>
	        {% endif %}
        {% endfor %}

		{% if recently_viewed %}
			<section class="ps-deal-of-day container bg-white py-4 mt-3">
				<div class="ps-section__header py-4 mb-3">
					<h3>Vus récemment</h3>
				</div>

				<div class="ps-section__content pt-4">
					<div class="ps-carousel--nav owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="5" data-owl-item-xs="2" data-owl-item-sm="3" data-owl-item-md="4" data-owl-item-lg="4" data-owl-item-xl="5" data-owl-duration="1000" data-owl-mousedrag="on">
						{% for instance in recently_viewed|slice:'0:25' %}
						    {% include "catalogue/snippet/_snippet_product.html" with instance=instance %}
						{% endfor %}
					</div>
				</div>
			</section>
		{% endif %}

		{% testimonial_list 5 %}

		<section class="container bg-white py-5 mb-3">
            <h4 class="h5">
                Supermarché sur {{ title }}, votre marché de vente en gros et détail pour votre ménage.
            </h4>

            <p>Profitez de votre supermarché qui vous propose tout ce dont vous avez besoin pour vivre quotidiennement à l’aise !</p>

            <figure>
                <figcaption><strong>{{ title }}</strong></figcaption>
                <p>vous propose une variété de produits large choix de produits de haute qualité. Ce qui fait la force de {{ title }}, c’est d’abord l’excellent rapport qualité/prix de ses appareils mobiles : Téléphones &amp; Tablettes, Télévisions ainsi que les appareils électroménagers tels que les réfrigérateurs et congélateurs, des climatiseurs, et bien plus encore. Retrouvez la liste de nos meilleures marques et boutiques officielles en faisant un tour sur notre site de vêtements en ligne, des chaussures, des produits de beauté et l'univers des meilleurs maquillages femme à moindre coût prix pas cher.</p>
            </figure>
        </section>
	</div>
{% endblock content %}
