<!-- checkout/checkout.html : template -->

{% extends "base.html" %}
{% load catalogue_tags humanize checkout_tags %}

{% block content %}
    {% include "includes/partials/_partials_breadcrumb.html" %}

    <section class="ps-section--account ps-checkout py-5">
        <div class="container">
            <div class="ps-section__content">
                <div class="ps-form--checkout">
                    <div class="ps-form__content">
                        <p id="payment_result">
                        <form id="info_paiement" action="." method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 ">
                                    <div class="ps-form__billing-info">
                                        {% if not request.user.is_authenticated %}
                                            <div class="ps-block--payment-method mb-5">
                                                <a class='p-2' href="{% url 'account_login' %}?next={{ request.path }}">
                                                    <span class='font-weight-bold'>Vous avez un compte ? Connectez-vous maintenant !</span>
                                                </a>
                                            </div>
                                        {% endif %}

                                        <h3 class="ps-form__heading pb-3">Détails de facturation</h3>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="font-weight-bold" for="{{ form.shipping_last_name.id_for_label }}">
                                                    {{ form.shipping_last_name.label }}*</label>
                                                    {{ form.shipping_last_name }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="font-weight-bold" for="{{ form.shipping_first_name.id_for_label }}">
                                                    {{ form.shipping_first_name.label }}*</label>
                                                    {{ form.shipping_first_name }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="font-weight-bold" for="{{ form.email.id_for_label }}">
                                            {{ form.email.label }}*</label>
                                            {{ form.email }}
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="font-weight-bold" for="{{ form.shipping_country.id_for_label }}">
                                                    Pays de résidence*</label>
                                                    {{ form.shipping_country }}
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="font-weight-bold" for="{{ form.shipping_city.id_for_label }}">
                                                    {{ form.shipping_city.label }}*</label>
                                                    {{ form.shipping_city }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="font-weight-bold" for="{{ form.shipping_adress.id_for_label }}">
                                                {{ form.shipping_adress.label }}*
                                            </label>
                                            {{ form.shipping_adress }}
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="font-weight-bold" for="{{ form.phone.id_for_label }}">
                                                        {{ form.phone.label }}*
                                                    </label>
                                                    {{ form.phone }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="{{ form.phone_two.id_for_label }}">
                                                        N° de téléphone supplémentaire (facultatif)
                                                    </label>
                                                    {{ form.phone_two }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="font-weight-bold" for="{{ form.shipping_zip.id_for_label }}">
                                                {{ form.shipping_zip.label }}
                                            </label>
                                            {{ form.shipping_zip }}
                                        </div>

                                        <div class="form-group">
                                            <div class="ps-checkbox">
                                                {{ form.emailing }}
                                                <label for="{{ form.emailing.id_for_label }}">
                                                    Me tenir au courant des actualités et
                                                    des offres exclusives ?
                                                </label>
                                            </div>
                                        </div>

                                        <h3 class="ps-form__heading mt-40">
                                            Informations complémentaires
                                        </h3>

                                        <div class="form-group">
                                            <label for="{{ form.note.id_for_label }}">
                                                {{ form.note.label }}
                                            </label>
                                            <div class="form-group__content">
                                                {{ form.note }}
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>

                                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                                    <div class="ps-block--checkout-order p-5 bg-light">
                                        <h4 class="ps-form__heading">
                                            Votre commande ({% cart_items_count request %})
                                        </h4>

                                        <div class="ps-block__content pb-2">
                                            <figure>
                                                <figcaption>
                                                    <strong>produit</strong>
                                                    <strong>sous-total</strong>
                                                </figcaption>
                                            </figure>

                                            <figure class="ps-block__items">
                                                {% for object in cart_items %}
                                                    <figcaption>
                                                    <span>{{ object.product.name|truncatewords:"3" }}
                                                        x {{ object.quantity }}</span>
                                                    <span>{{ object.total|intcomma }} Fr</span>
                                                    </figcaption>
                                                {% endfor %}
                                            </figure>

                                            <figure>
                                                <figcaption>
                                                    <span>Frais de livraison</span>
                                                    <span>1500 Fr</span>
                                                </figcaption>
                                            </figure>

                                            <figure class="border-0">
                                                <figcaption>
                                                    <h3><strong>Total</strong></h3>
                                                    <strong>
                                                        <h3><span class="font-weight-bold" style="color:#ff3300;">
                                                            {{ cart_subtotal|intcomma }} Fr
                                                        </span></h3>
                                                    </strong>
                                                </figcaption>
                                            </figure>
                                        </div>

                                        <div class="ps-block--payment-method">
                                            <div class="form-group">
                                                <div class="ps-checkbox">
                                                    <p class="text-justify">
                                                        Vos données personnelles seront utilisées pour le
                                                        traitement de votre commande, vous accompagner au cours
                                                        de votre visite du site web, et pour d’autres raisons
                                                        décrites dans notre politique de confidentialité
                                                    </p>

                                                    <input checked id="ckeckobx" type="checkbox" name="privacy" class="form-check">
                                                    <label for="ckeckobx">
                                                        J’ai lu et j’accepte les
                                                        <a href="{% url 'pages:cgu' %}">
                                                            <strong>conditions générales</strong>
                                                        </a> *
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <button class="ps-btn ps-btn--fullwidth text-uppercase"
                                                type="submit" name="submit">payer à la livraison</button>
                                            </div>

                                            <!--  <div class="form-group">
                                                {% include "includes/partials/_partials_payment.html" %}
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
