{% extends "base.html" %}
{% load humanize catalogue_tags %}


{% block content %}
	{% url 'order_tracking' as order_tracking %}
	{% url 'catalogue:product_list' as product_list %}
	{% url 'download_invoice' object.id as print_invoice %}

	{% include "includes/partials/_partials_breadcrumb.html" %}

	<section class="ps-section--account ps-checkout">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="ps-section__header">
						<h4>Commande validée ! &smid; N° commande {{ object.get_order_id }}</h4>

						<div class="ps-block--payment-method mb-0">
							<span class='font-weight-bold'>
								NB: Veuillez garder ce numéro ({{ object.transaction_id  }}) 
								pour le retrait de votre commande.
							</span>
						</div>
					</div>

					<div class="ps-section__content card p-4">
						<div class="row">
							<div class="col-md-4 col-12">
								<figure class="ps-block--invoice">
									<figcaption>Nom &amp; prénom</figcaption>
									<div class="ps-block__content">
										<strong>{{ object.get_full_name|upper }}</strong>
										<p>
											<strong>Email:</strong>:
											{{ object.email }}
										</p>
										<p><strong>Téléphone</strong>: {{ object.phone }}</p>
									</div>
								</figure>
							</div>

							<div class="col-md-4 col-12">
								<figure class="ps-block--invoice">
									<figcaption>Adresse de livraison</figcaption>
									<div class="ps-block__content">
										<p>{{ object.get_shipping_delivery|linebreaksbr }}</p>
									</div>
								</figure>
							</div>

							<div class="col-md-4 col-12">
								<figure class="ps-block--invoice">
									<figcaption>Paiement</figcaption>
									<div class="ps-block__content">
										<p>
											<strong>Methode:</strong>
											Paiement à la livraison
										</p>
										<p>
											<strong>Total</strong>:
											{{ object.total|intcomma }} Fr
										</p>
									</div>
								</figure>
							</div>
						</div>
					</div>

                    <p class="text-muted py-3">
                    	<span>Votre commande vous sera livrée dans 07 jours maximum.</span>
                    	<span>Merci pour votre commande. Veuillez cliquer
                        <a class="text-primary font-weight-bold" href="{{ tracking_order }}"><u>ICI</u></a>
                    	pour vérifier l'état de votre commande.</span>
                    </p>

                    <div class="ps-section__footer mt-3">
						<div class="row">
							<div class="col-4 float-left">
								<a class="ps-btn ps-btn--sm text-uppercase font-weight-normal"
								href="{{ product_list }}">Continuer vos achats
								<i class="icon-arrow-right"></i></a>
							</div>

							<div class="col-4">
								<a class="btn ps-btn--sm text-uppercase font-weight-normal"
								href="{{ print_invoice }}"><i class="icon-printer"></i>
								Imprimer le réçu.</a>
							</div>

							<div class="col-4 float-right">
								<a class="ps-btn ps-btn--sm text-uppercase font-weight-normal"
								href="{{ order_tracking }}">
								suivre votre commande</a>
							</div>
						</div>
					</div>
				</div>
	    	</div>
    	</div>
    </section>
{% endblock content %}
