{% extends "base.html" %}
{% load humanize catalogue_tags %}


{% block content %}
	{% include "includes/partials/_partials_breadcrumb.html" %}

	<section class="ps-section--account ps-checkout">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="ps-section__header">
						{{ order }}
						<h3>N° commande {{ object.get_order_id }}</h3>

						<div class="ps-block--payment-method py-3 pb-3">
							<span class='font-weight-bold'>
								Veuillez garder ce numéro ({{ object.get_order_id  }})
									pour le retrait de votre commande.
							</span>
						</div>
					</div>

					<div class="ps-section__content">
						<div class="row">
							<div class="col-md-4 col-12">
								<figure class="ps-block--invoice">
									<figcaption>Nom &amp; prénom</figcaption>
									<div class="ps-block__content">
										<strong>{{ object.get_full_name|upper }}</strong>
										<p>
											<strong>Adresse</strong>:
											{{ object.get_shipping_delivery }}
										</p>
										<p><strong>Téléphone</strong>: {{ object.phone }}</p>
									</div>
								</figure>
							</div>
							<div class="col-md-4 col-12">
								<figure class="ps-block--invoice">
									<figcaption>Adresse de livraison</figcaption>
									<div class="ps-block__content">
										<p>{{ object.get_shipping_delivery|linebreaksbr }}</p>
									</div>
								</figure>
							</div>
							<div class="col-md-4 col-12">
								<figure class="ps-block--invoice">
									<figcaption>Paiement</figcaption>
									<div class="ps-block__content">
										<p>
											<strong>Methode:</strong>
											Paiement à la livraison
										</p>
										<p>
											<strong>Total</strong>:
											{{ object.total|intcomma }} Fr
										</p>
									</div>
								</figure>
							</div>
						</div>
					</div>

					<div class="ps-section__footer pt-5">
						<div class="row">
							<div class="col-6">
								<a class="ps-btn ps-btn--sm text-uppercase"
								href="{% url 'catalogue:product_list' %}">continuer vos achats</a>
							</div>

							<div class="col-6">
								<a class="ps-btn ps-btn--sm ps-btn--gray text-uppercase"
								href="{% url 'checkout:order_success' %}">
								finaliser votre commande</a>
							</div>
						</div>
					</div>
				</div>
	    	</div>
    	</div>
    </section>
{% endblock content %}
