{% extends "base.html" %}

{% block content %}
    {% include "includes/partials/_partials_breadcrumb.html" %}
    {% url 'order_tracking' as tracking %}

    <div class="ps-order-tracking">
        <div class="container">
            <div class="ps-section__header">
                <h3>Suivre l'état de votre commande</h3>
                <p>Pour suivre votre commande, veuillez entrer votre <strong>N° de la commande</strong> dans
                la case ci-dessous et appuyez sur le bouton « Vérifiez l'état de votre commande ».</p>
                <br>
                <p>Cela vous a été remis sur votre reçu et dans l'e-mail de confirmation que vous auriez dû recevoir.</p>
            </div>
            <div class="ps-section__content">
                <form role='search' accept-charset="utf-8" class="ps-form--order-tracking" action="{{ tracking }}" method="get">
                    <div class="form-group">
                        <label>N° de la commande</label>
                        <input required="True" id='input-search' name='track' class="form-control" type="search"
                        placeholder="Entrer le N° de la commande qui vous a été fourni" value="{{ request.GET.track }}">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="ps-btn ps-btn--fullwidth">Vérifiez l'état de votre commande</button>
                    </div>
                </form>
            </div>

            {% if query %}
                <div class="ps-section__content">
                    {% for object in object_list %}
                        {{ object }} - {{ object.status }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
