{% extends "base.html" %}

{% block content %}
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="#">Account</a></li>
                <li>Mode de paiement</li>
            </ul>
        </div>
    </div>

    <section class="ps-section--account ps-checkout">
        <div class="container">
            <div class="ps-section__header">
                <h3>Paiement</h3>
            </div>
            <div class="ps-section__content">
                <form class="ps-form--checkout" action="#" method="get">
                    <div class="ps-form__content">
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 ">
                                <div class="ps-block--shipping">
                                    <div class="ps-block__panel">
                                        <figure>
                                            <small>Contact</small>
                                            <p><a href="#"><span>flavienhugs@pm.me</span></a></p>
                                            <a href="#">Changement</a>
                                        </figure>

                                        <figure><small>Envoyer à</small>
                                            <p>2015 South Street, Midland, Texas</p>
                                            <a href="#">Changement</a>
                                        </figure>
                                    </div>

                                    <h4>Mode de livraison</h4>
                                    <div class="ps-block__panel">
                                        <figure><small>livraison à l'International</small><strong> $20.00</strong></figure>
                                    </div>

                                    <h4>Mode de paiement</h4>
                                    <div class="ps-block--payment-method">
                                        <ul class="ps-tab-list">
                                            <li class="active">
                                                <a class="ps-btn ps-btn--sm" href="#visa">Visa / Master Card</a>
                                            </li>
                                            <li><a class="ps-btn ps-btn--sm" href="#paypal">Paypal</a></li>
                                        </ul>

                                        <div class="ps-tabs">
                                            <div class="ps-tab active" id="visa">
                                                <form class="ps-form--visa" action="" method="get">
                                                    <div class="form-group">
                                                        <label>Numéro de carte</label>
                                                        <input class="form-control" type="text" placeholder="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Adresse email</label>
                                                        <input class="form-control" type="text" placeholder="">
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <div class="form-group">
                                                                <label>Date de l’expérience</label>
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <input class="form-control" type="text" placeholder="Mois">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <input class="form-control" type="text" placeholder="Année">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="form-group">
                                                                <label>CVV</label>
                                                                <input class="form-control" type="text" placeholder="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group submit">
                                                        <a href="{% url "payment-success" %}" class="ps-btn ps-btn--fullwidth">Soumettre</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="ps-tab" id="paypal">
                                                <a class="ps-btn" href="#">Continuez avec Paypal</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                                <div class="ps-block--checkout-order">
                                    <div class="ps-block__content">
                                        <figure>
                                            <figcaption><strong>Produit</strong><strong>Total</strong></figcaption>
                                        </figure>

                                        <figure class="ps-block__items">
                                            <a href="#">
                                                <strong>Marshall Kilburn Portable Wireless Speaker</strong>
                                                <span>x1<small>$ 42.99</small></span>
                                            </a>

                                            <a href="#">
                                                <strong>Herschel Leather Duffle Bag In Brown Color</strong>
                                                <span>x1<small>$ 125.30</small></span>
                                            </a>
                                        </figure>

                                        <figure>
                                            <figcaption><strong>Sous-total</strong><strong>$1259.99</strong></figcaption>
                                        </figure>

                                        <figure>
                                            <figcaption><strong>Livraison</strong><strong>$20.00</strong></figcaption>
                                        </figure>

                                        <figure class="ps-block__total">
                                            <h3>Total<strong>$1279.99</strong></h3>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}
