{% extends "base.html" %}
{% load mptt_tags pages_tags %}

{% block content %}
    {% url "home" as home_url %}    
    {% if request.resolver_match.url_name == 'product_list' %}
        {% include "includes/partials/_partials_breadcrumb.html" %}
    {% elif request.resolver_match.url_name == 'category_detail' %}
        <div class="ps-breadcrumb">
            <div class="ps-container">
                <ul class="breadcrumb">
                    <li><a href="{{ home_url }}">Accueil</a></li>
                    {% if object.get_ancestors %}
                        <li>{{ object.get_ancestors|tree_path:" ∕ " }}</li>
                    {% endif %}
                    <li>{{ object.name|safe }}</li>
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="ps-page--shop pt-2">
        <div class="ps-container">
            {% if not request.resolver_match.url_name == 'product_list' and not request.resolver_match.url_name == 'search' %}
                <div class="ps-shop-banner">
                    <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on">
                        {% promotion_list 8 %}
                    </div>
                </div>
            {% endif %}

            <div class="ps-layout--shop">
                {% include "catalogue/partials/_partials_shop.html" %}
            </div>
        </div>
    </div>
{% endblock content %}
