{% extends "base.html" %}
{% load mptt_tags catalogue_tags pages_tags %}

{% block content %}
{% url "home" as home_url %}

{% if request.resolver_match.url_name == 'product_list' %}

{% include "includes/partials/_partials_breadcrumb.html" %}

{% elif request.resolver_match.url_name == 'category_detail' %}
    <div class="ps-breadcrumb">
        <div class="ps-container">
            <ul class="breadcrumb">
                <li>
                    <a class="text-capitalize" href="{{ home_url }}">
                        <i class="fa fa-home fw-2x text-success"></i>
                    </a>
                </li>
                {% if object.category.parent %}
                    <li>
                        <a href="{{ object.category.parent.get_absolute_url }}">
                            {{ object.category.get_ancestors|tree_path|lower }}
                        </a>
                    </li>
                {% endif %}
                {% if object.category.name %}
                    <li>
                        <a href="{{ object.category.get_absolute_url }}">
                            {{ object.category.name|lower }}
                        </a>
                    </li>
                {% endif %}

                <li>{{ object.name|capfirst|striptags|safe }}</li>
            </ul>
        </div>
    </div>
{% endif %}

<div class="ps-page--shop pt-2">
    <div class="container">

        {% if object.image %}
            <div class="ps-carousel--nav-inside py-3 mb-4">
                <img class="w-100" src="{{ object.get_image_url }}" alt="{{ object.name|slugify }}">
            </div>
        {% endif %}

        {% if object.promotions_category %}
            {% for promotion in object.promotions_category %}
                <section class="ps-block--container-hightlight">
                    <div class="ps-section__header pb-3">
                        <h3>{{ promotion.campaign.name|title }}</h3>
                    </div>
                    <div class="ps-section__content py-3 mb-3">
                        <div class="ps-carousel--nav owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="5" data-owl-item-xs="2" data-owl-item-sm="3" data-owl-item-md="4" data-owl-item-lg="4" data-owl-item-xl="5" data-owl-duration="1000" data-owl-mousedrag="on">
                            {% for object in object.promotions_category %}
                                {% for product in object.products.all %}
                                    {% include "catalogue/snippet/_snippet_product.html" with instance=product %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </section>
            {% endfor %}
        {% endif %}

        <div class="ps-layout--shop border-bottom mb-2">
            {% block _content_ %}
                {% include "catalogue/partials/_partials_shop.html" with object=object %}
            {% endblock _content_ %}
        </div>

        {% best_selling_products 20 %}

        {% if product_recommended %}
            <div class="ps-block--container-hightlight mt-4 pb-3">
                <div class="ps-section__header">
                    <h3>Vus récemment</h3>
                </div>
                <div class="ps-section__content">
                    <div class="ps-carousel--nav owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="5" data-owl-item-xs="2" data-owl-item-sm="3" data-owl-item-md="4" data-owl-item-lg="4" data-owl-item-xl="5" data-owl-duration="1000" data-owl-mousedrag="on">
                        {% for product in product_recommended %}
                            {% include "catalogue/snippet/_snippet_product.html" with instance=product %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
