{% extends "base.html" %}
{% load mptt_tags catalogue_tags pages_tags %}

{% block content %}
{% url "home" as home_url %}

{% if request.resolver_match.url_name == 'product_list' %}

{% include "includes/partials/_partials_breadcrumb.html" %}

{% elif request.resolver_match.url_name == 'category_detail' %}
    <div class="ps-breadcrumb">
        <div class="ps-container">
            <ul class="breadcrumb">
                <li>
                    <a class="text-capitalize" href="{{ home_url }}">
                        <i class="fa fa-home fw-2x text-success"></i>
                    </a>
                </li>
                {% if object.category.parent %}
                    <li>
                        <a href="{{ object.category.parent.get_absolute_url }}">
                            {{ object.category.get_ancestors|tree_path|lower }}
                        </a>
                    </li>
                {% endif %}
                {% if object.category.name %}
                    <li>
                        <a href="{{ object.category.get_absolute_url }}">
                            {{ object.category.name|lower }}
                        </a>
                    </li>
                {% endif %}

                <li>{{ object.name|capfirst|striptags|safe }}</li>
            </ul>
        </div>
    </div>
{% endif %}

<div class="ps-page--shop pt-2">
    <div class="container">
        
        <div class="ps-carousel--nav-inside py-3 mb-4">
            <img class="w-100" src="{{ object.get_image_url }}" alt="{{ object.name|slugify }}">
        </div>

        {% if get_news_arrivals %}
            {% product_promotion_object get_news_arrivals 'Nouveautés' %}
        {% endif %}

        {% if destockages %}
            {% product_promotion_object destockages 'Destockages' %}
        {% endif %}

        {% annonce_list %}

        {% if sales_flash %}
            {% product_promotion_object sales_flash 'Ventes Flash' %}
        {% endif %}

        {% if product_recommended %}
            <div class="ps-block--container-hightlight my-3">
                <div class="ps-section__header">
                    <h3>Vus récemment</h3>
                </div>
                <div class="ps-section__content">
                    <div class="row">
                        {% for product in product_recommended %}
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                                {% include "catalogue/snippet/_snippet_product.html" with instance=product %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="ps-layout--shop border-bottom mt-3">
            {% block _content_ %}
                {% include "catalogue/partials/_partials_shop.html" with object=object %}
            {% endblock _content_ %}
        </div>
    </div>
</div>
{% endblock content %}